[cycloid]
127.0.0.1

# Meta groups to setup all in one
[cycloid_core:children]
cycloid
[cycloid_scheduler:children]
cycloid
[cycloid_scheduler_db:children]
cycloid
[cycloid_cache:children]
cycloid
[cycloid_db:children]
cycloid
[cycloid_creds:children]
cycloid
[smtp_server:children]
cycloid
#[minio:children]
#cycloid
#[elasticsearch:children]
#cycloid
