---
- name: Pre-requisites to run stack
  hosts: all
  # centos root user don't have usr/local/bin in PATH. It need to be defined for pip+awscli
  environment:
    PATH: "/usr/local/bin:{{ ansible_env.PATH }}"
  tasks:

    - name: "Update apt packages"
      ansible.builtin.apt:
        update_cache: true
      when: ansible_os_family == 'Debian'
      ignore_errors: true

    - name: "Update yum packages"
      ansible.builtin.yum:
        update_cache: true
      when: ansible_os_family == 'RedHat'
      ignore_errors: true

    - name: "Install extra packages"
      ansible.builtin.package:
        name:
          - python3-pip
        state: present

    # - name: "Force update pip to latest"
    #   ansible.builtin.pip:
    #     name: pip
    #     state: latest
    #     extra_args: "--break-system-packages"
    #   ignore_errors: true

    - name: "Install pip depends"
      pip:
        requirements: "/home/{{ ansible_user }}/cycloid-onprem/pip-requirements.txt"
        state: latest
        extra_args: "--break-system-packages --ignore-installed bcrypt"
      ignore_errors: true # It might fail with python3-bcrypt (already installed)

    # Alternative use virtualenv
    # - name: Create virtual environment
    #   ansible.builtin.pip:
    #     name: virtualenv
    #     state: present
    #     executable: /usr/bin/python3
    # - name: Create venv directory
    #   ansible.builtin.command: python3 -m venv /home/admin/venv
    # - name: Install latest pip in venv
    #   ansible.builtin.pip:
    #     name: pip
    #     state: latest
    #     executable: /home/admin/venv/bin/pip