---
- name: Define cycloid-job-cost-estimation-ingestion_container service | cycloid-cost-estimation
  include_role:
    name: mhutter.docker-systemd-service
  vars:
    container_name: cycloid-job-cost-estimation-ingestion
    container_docker_pull: "{{ docker_pull }}"
    container_image: "{{cycloid_api_image}}"
    container_args: "--env-file={{ cycloid_install_path }}/approle-cycloid --entrypoint /bin/bash {{ container_args_extra }}"
    container_cmd: "{{ cycloid_job_cost_estimation_ingestion_container_cmd|default('', true) }}"
    container_volumes: "{{ ([container_volumes_ca_certificates] + [ container_api_volumes_redis_ca ] ) | select()|list }}" # select()|list ensure to remove empty list [""]
    container_env:
      DB_NAME: "{{ cycloid_db_name }}"
      DB_USER: "{{ cycloid_db_user }}"
      DB_PWD: "{{ cycloid_db_password }}"
      DB_HOST: "{{ cycloid_db_host }}"
      DB_PORT: "{{ cycloid_db_port }}"
      EMAIL_SMTP_SVR_ADDR: "{{ cycloid_email_smtp_svr_addr }}"
      EMAIL_SMTP_USERNAME: "{{ cycloid_email_smtp_username }}"
      EMAIL_SMTP_PASSWORD: "{{ cycloid_email_smtp_password }}"
      EMAIL_ADDR_FROM: "{{ cycloid_email_addr_from }}"
      EMAIL_ADDR_RETURN_PATH: "{{ cycloid_email_addr_return_path }}"
      EMAIL_SKIP_TLS_CHECK: "{{ cycloid_email_skip_tls_check }}"
      # if we use the default fake smtp server (mailhog), enable dev_mode to allow unencrypted connection
      EMAIL_DEV_MODE: "{{ setup_smtp_server }}"
      REDIS_URI: "{{ cycloid_cache_uri }}"
      REDIS_INSECURE_SKIP_TLS: "{{ cycloid_cache_insecure_skip_tls }}"
      REDIS_CA_CERT_FILE: "{{ cycloid_api_redis_ca_cert_file }}"
      VAULT_SKIP_VERIFY: true
      VAULT_URL: "{{ vault_url }}"
      LOG_LEVEL: "INFO"
      LOG_SVC_LEVEL: "NONE"
      RUN_MIGRATIONS: 0
      PRICING_INGEST_GOOGLE_CREDENTIAL_JSON: "{{ cost_estimation_gcp_cred_json | string }}"
    service_systemd_options:
      [
        { "key": "Restart", "value": "no" },
        { "key": "ExecStop", "value": "" },
        { "key": "RuntimeMaxSec", "value": "30" },
      ]
    service_state: stopped # start or not the service after its creation

  tags: docker-services

- name: Define cycloid-job-cost-estimation-ingestion_container timer | cycloid-cost-estimation
  template:
    src: templates/systemd/timer.j2
    dest: /lib/systemd/system/cycloid-job-cost-estimation-ingestion.timer
  vars:
    schedule: "{{ cost_estimation_ingestion_schedule }}"
    service: "cycloid-job-cost-estimation-ingestion_container"

- name: Enable timer | cycloid-cost-estimation
  ansible.builtin.systemd:
    name: cycloid-job-cost-estimation-ingestion.timer
    enabled: yes
    state: started # start or not the timer after its creation

- name: Force systemd to reread configs | cycloid-cost-estimation
  ansible.builtin.systemd:
    daemon_reload: yes
