---

- name: Force flush handlers to ensure all other containers like concourse web is started before running the api | cycloid-core api
  meta: flush_handlers

- name: Copy vault approles in service directory | cycloid-core api
  copy:
    src: "{{ cycloid_local_datas_path }}/approles/approle-cycloid"
    dest: "{{ cycloid_install_path }}/approle-cycloid"
    mode: 0400

- name: Define service | cycloid-core api
  include_role:
    name: mhutter.docker-systemd-service
  vars:
    name: cycloid-api
    container_docker_pull: "{{ docker_pull }}"
    container_image: "{{cycloid_api_image}}"
    container_ports: "{{ cycloid_api_container_ports }}"
    container_args: "--env-file={{ cycloid_install_path }}/approle-cycloid {{ container_args_update_ca }} {{ container_args_extra }}"
    container_cmd: "{{ cycloid_api_container_cmd }}"
    container_volumes: "{{ ([container_volumes_ca_certificates] + [ container_volumes_saml ]) | select()|list }}" # select()|list ensure to remove empty list [""]
    container_env:
      MYSQL_DATABASE: "{{ cycloid_db_name }}"
      MYSQL_USER: "{{ cycloid_db_user }}"
      MYSQL_PASSWORD: "{{ cycloid_db_password }}"
      YOUDEPLOY_MYSQL_SERVICE_HOST: "{{ cycloid_db_host }}"
      YOUDEPLOY_MYSQL_SERVICE_PORT: "{{ cycloid_db_port }}"
      CONCOURSE_URL: "{{ concourse_url }}"
      CONCOURSE_PORT: "{{ concourse_port }}"
      CONCOURSE_USER: "{{ concourse_auth_user }}"
      CONCOURSE_PASSWORD: "{{ concourse_auth_password }}"
      CONCOURSE_TEAM: main
      VAULT_URL: "{{ vault_url }}"
      VAULT_SKIP_VERIFY: true
      # Defined by env-file
      #VAULT_ROLE_ID:
      #VAULT_SECRET_ID:
      #JAEGER_ENDPOINT: "localhost:14268"
      EMAIL_SMTP_SVR_ADDR: "{{ cycloid_email_smtp_svr_addr }}"
      EMAIL_SMTP_USERNAME: "{{ cycloid_email_smtp_username }}"
      EMAIL_SMTP_PASSWORD: "{{ cycloid_email_smtp_password }}"
      EMAIL_ADDR_FROM: "{{ cycloid_email_addr_from }}"
      EMAIL_ADDR_RETURN_PATH: "{{ cycloid_email_addr_return_path }}"
      EMAIL_SKIP_TLS_CHECK: "{{ cycloid_email_skip_tls_check }}"
      # if we use the default fake smtp server (mailhog), enable dev_mode to allow unencrypted connection
      EMAIL_DEV_MODE: "{{ setup_smtp_server }}"
      REDIS_URI: "redis://{{ cycloid_email_redis_host }}:{{ cycloid_email_redis_port }}/{{ cycloid_email_redis_db }}"
      AZURE_TENANT_ID: "{{ azure_ad_tenant_id }}"
      AZURE_CLIENT_ID: "{{ azure_ad_client_id }}"
      GOOGLE_CLIENT_ID: "{{ google_client_id }}"
      GOOGLE_CLIENT_SECRET: "{{ google_client_secret }}"
      GITHUB_HOST_ADDRESS: "{{ github_host_address }}"
      GITHUB_CLIENT_ID: "{{ github_client_id }}"
      GITHUB_CLIENT_SECRET: "{{ github_client_secret }}"
      JWT_KEY_1: "{{ cycloid_jwt_key_1 }}"
      FRONTEND_BASE_URL: "{{ cycloid_console_base_url }}"
      BACKEND_BASE_URL: "{{ cycloid_api_base_url }}"
      CORS_ALLOWED_ORIGINS: "{{ cycloid_api_cors_allowed_origins }}"
      CRYPTO_SIGNING_KEY: "{{ cycloid_crypto_signing_key }}"
      SAML_SP_CERTIFICATE_PATH: "{{ saml_sp_certificate_path }}"
      SAML_SP_PRIVATE_KEY_PATH: "{{ saml_sp_private_key_path }}"
      SAML_IDP_METADATA_URL: "{{ saml_idp_metadata_url }}"
      SAML_IDP_METADATA_PATH: "{{ saml_idp_metadata_path }}"
      COST_EXPLORER_ES_URL: "{{ cost_explorer_es_url }}"
      COST_EXPLORER_ES_USERNAME: "{{ cost_explorer_es_username }}"
      COST_EXPLORER_ES_PASSWORD: "{{ cost_explorer_es_password }}"
      COST_EXPLORER_ES_INSECURE_SKIP_TLS: "{{ cost_explorer_es_insecure_skip_tls }}"
      #COST_EXPLORER_ES_CA_CERT: "{{ cost_explorer_es_ca_cert }}"
      LOG_LEVEL: "INFO"
      LOG_SVC_LEVEL: "NONE"
      #LOG_LEVEL: "DEBUG"
      #LOG_DEV_MODE: true
      #LOG_SVC_LEVEL: "DEBUG"
      http_proxy: "{{ http_proxy }}"
      https_proxy: "{{ http_proxy }}"
      no_proxy: "{{ no_proxy }}"

  tags: docker-services

- name: Force flush handlers to ensure cycloid-api is started to create the first user | cycloid-core api
  meta: flush_handlers

- name: Wait and check if we have to create the first cycloid-api user | cycloid-core api
  command: "mysql --protocol TCP -h {{ cycloid_db_host }} -P {{ cycloid_db_port }} -u {{ cycloid_db_user }} -p{{ cycloid_db_password }} {{ cycloid_db_name }} -Ns -e 'SELECT canonical FROM users;'"
  register: users
  retries: 30
  delay: 10
  ignore_errors: true
- set_fact: sql_query_rows="{{users.stdout_lines|length}}"

- block:
    - name: Create initial cycloid user | cycloid-core api
      uri:
        url: http://localhost:3001/user
        method: POST
        body_format: raw
        validate_certs: no
        status_code: 204
        return_content: no
        headers:
          Accept: "*/*"
          Connection: "keep-alive"
          DNT: "1"
          Content-type: "application/vnd.cycloid.io.v1+json"
        body: "{{cycloid_initial_user|to_json}}"
      retries: 30
      delay: 10
      no_log: false
      register: init_of_api
      until: init_of_api.status == 204

    - name: Login with cycloid user | cycloid-core api
      uri:
        url: http://localhost:3001/user/login
        method: POST
        body_format: raw
        validate_certs: no
        status_code: 200
        return_content: no
        headers:
          Accept: "*/*"
          Connection: "keep-alive"
          DNT: "1"
          Content-type: "application/vnd.cycloid.io.v1+json"
        body: "{{cycloid_initial_user|to_json}}"
      no_log: false
      register: cy_user_token

    - name: Create initial cycloid organization | cycloid-core api
      uri:
        url: http://localhost:3001/organizations
        method: POST
        body_format: raw
        validate_certs: no
        status_code: 200
        return_content: no
        headers:
          Accept: "*/*"
          Authorization: "Bearer {{ cy_user_token.json.data.token }}"
          Connection: "keep-alive"
          DNT: "1"
          Content-type: "application/vnd.cycloid.io.v1+json"
        body: "{{cycloid_initial_organization|to_json}}"
      no_log: false
      register: init_of_api_org

    # Try if the login works
    - name: Login in cycloid org | cycloid-core api
      uri:
        url: "http://localhost:3001/user/refresh_token?organization_canonical={{ cycloid_initial_organization.canonical }}"
        method: GET
        validate_certs: no
        status_code: 200
        return_content: no
        headers:
          Accept: "*/*"
          Authorization: "Bearer {{ cy_user_token.json.data.token }}"
          Connection: "keep-alive"
          DNT: "1"
          Content-type: "application/vnd.cycloid.io.v1+json"
      no_log: false
      register: cy_org_token

    #- name: Create initial cycloid creds | cycloid-core api
    #  uri:
    #    url: "http://localhost:3001/organizations/{{ cycloid_initial_organization.canonical }}/credentials"
    #    method: POST
    #    body_format: raw
    #    validate_certs: no
    #    return_content: no
    #    status_code: 200
    #    headers:
    #      Authorization: "Bearer {{ cy_org_token.json.data.token }}"
    #      Accept: "*/*"
    #      Connection: "keep-alive"
    #      DNT: "1"
    #      Content-type: "application/vnd.cycloid.io.v1+json"
    #    body: "{{cycloid_initial_catalog_cred|to_json}}"
    #  no_log: false
    #  register: init_of_api_cred

    # Adding the cred ID previously created
    #- set_fact: "cycloid_initial_service_catalog={{ cycloid_initial_service_catalog | combine({'credential_id': init_of_api_cred.json.data.id|int}) }}"

    - name: Renew cycloid licence | cycloid-core api
      uri:
        url: "http://localhost:3001/organizations/{{ cycloid_initial_organization.canonical }}/licence"
        method: POST
        body_format: raw
        validate_certs: no
        return_content: no
        status_code: 204
        headers:
          Authorization: "Bearer {{ cy_org_token.json.data.token }}"
          Accept: "*/*"
          Connection: "keep-alive"
          DNT: "1"
          Content-type: "application/vnd.cycloid.io.v1+json"
        body:  "{{cycloid_licence_body|to_json}}"
      no_log: false
      when: cycloid_licence != ''

    - block:
        # This is a temporary refresh. The refresh is needed between 2 calls but it should change soon.
        - name: Refresh user token | cycloid-core api
          uri:
            url: "http://localhost:3001/user/refresh_token?organization_canonical={{ cycloid_initial_organization.canonical }}"
            method: GET
            validate_certs: no
            status_code: 200
            return_content: no
            headers:
              Accept: "*/*"
              Authorization: "Bearer {{ cy_user_token.json.data.token }}"
              Connection: "keep-alive"
              DNT: "1"
              Content-type: "application/vnd.cycloid.io.v1+json"
          no_log: false
          register: cy_org_token

        - name: Create admin APIKEY on first organization | cycloid-core api
          uri:
            url: "http://localhost:3001/organizations/{{ cycloid_initial_organization.canonical }}/api_keys"
            method: POST
            body_format: raw
            validate_certs: no
            return_content: yes
            status_code: 200
            headers:
              Authorization: "Bearer {{ cy_org_token.json.data.token }}"
              Accept: "*/*"
              Connection: "keep-alive"
              DNT: "1"
              Content-type: "application/vnd.cycloid.io.v1+json"
            body: '{"name":"admin","description":"full admin apikey created by onprem ansible playbook","canonical":"admin","rules":[{"action":"organization:**","effect":"allow","resources":[]}]}'
          no_log: false
          register: cy_admin_apikey

        - name: Local save of apikey | cycloid-core api
          local_action:
            module: copy
            content: "{{ cy_admin_apikey.json.data.token }}"
            dest: "{{playbook_dir}}/admin.apikey"
          become: no
      when: cycloid_admin_apikey and cycloid_licence != ''

    - block:
        # This is a temporary refresh. The refresh is needed between 2 calls but it should change soon.
        - name: Refresh user token | cycloid-core api
          uri:
            url: "http://localhost:3001/user/refresh_token?organization_canonical={{ cycloid_initial_organization.canonical }}"
            method: GET
            validate_certs: no
            status_code: 200
            return_content: no
            headers:
              Accept: "*/*"
              Authorization: "Bearer {{ cy_user_token.json.data.token }}"
              Connection: "keep-alive"
              DNT: "1"
              Content-type: "application/vnd.cycloid.io.v1+json"
          no_log: false
          register: cy_org_token

        - name: Create initial cycloid service catalog | cycloid-core api
          uri:
            url: "http://localhost:3001/organizations/{{ cycloid_initial_organization.canonical }}/service_catalog_sources"
            method: POST
            body_format: raw
            validate_certs: no
            return_content: no
            status_code: 200
            headers:
              Authorization: "Bearer {{ cy_org_token.json.data.token }}"
              Accept: "*/*"
              Connection: "keep-alive"
              DNT: "1"
              Content-type: "application/vnd.cycloid.io.v1+json"
            body: "{{cycloid_initial_service_catalog|to_json}}"
          no_log: false
      when: cycloid_public_stacks and cycloid_licence != ''

    - block:
        # This is a temporary refresh. The refresh is needed between 2 calls but it should change soon.
        - name: Refresh user token | cycloid-core api
          uri:
            url: "http://localhost:3001/user/refresh_token?organization_canonical={{ cycloid_initial_organization.canonical }}"
            method: GET
            validate_certs: no
            status_code: 200
            return_content: no
            headers:
              Accept: "*/*"
              Authorization: "Bearer {{ cy_user_token.json.data.token }}"
              Connection: "keep-alive"
              DNT: "1"
              Content-type: "application/vnd.cycloid.io.v1+json"
          no_log: false
          register: cy_org_token

        - name: Create elasticsearch credentials | cycloid-core api
          with_fileglob:
            - "{{ cycloid_third_party['crt'] }}"
          uri:
            url: "http://localhost:3001/organizations/{{ cycloid_initial_organization.canonical }}/credentials"
            method: POST
            body_format: raw
            validate_certs: no
            return_content: no
            status_code: 200
            headers:
              Authorization: "Bearer {{ cy_org_token.json.data.token }}"
              Accept: "*/*"
              Connection: "keep-alive"
              DNT: "1"
              Content-type: "application/vnd.cycloid.io.v1+json"
            body: "{{cycloid_elasticsearch_default | combine({'raw':{ 'ca_cert': item }}, recursive=True) | to_json}}"
          no_log: false
      when: "'elasticsearch' in groups and elasticsearch_basic_auth and cycloid_licence != ''"

  when: sql_query_rows|int == 0

- name: Copy cycloid-intercept script | cycloid-core api
  copy:
    src: scripts/cycloid-intercept.sh
    dest: /usr/local/bin/cycloid-intercept
    mode: '0755'
