---

- name: "Stop services | cycloid-db"
  service:
    name: "{{ item }}"
    state: "stopped"
  with_items:
  - "cycloid-db_container"
  - "docker"
  - "docker.socket"
  failed_when: false

- name: "Remove packages | cycloid-db"
  package:
    name:
    - "docker*"
    state: "absent"
  failed_when: false
  when: "setup_packages"

- name: "Remove files | cycloid-db"
  file:
    path: "{{ item }}"
    state: "absent"
  with_items:
  - "{{ cycloid_db_path }}"
  - "{{ cycloid_install_path }}"
  - "/etc/systemd/system/cycloid-db_container.service"
  - "/etc/default/cycloid-db"
  - "/etc/systemd/system/docker.service"
  - "/var/lib/docker"
  - "/opt/containerd"

- name: "Force systemd to reread configs | cycloid-db"
  systemd:
    daemon_reload: true

- name: "systemctl reset-failed | cycloid-db"
  shell: "systemctl reset-failed"
