---

# - name: Add this container to api links
#   set_fact:
#    cycloid_api_container_links: "{{ cycloid_api_container_links + ['cycloid-db'] }}"

- name: Define service | cycloid-db
  include_role:
    name: mhutter.docker-systemd-service
  vars:
    name: cycloid-db
    container_docker_pull: "{{ docker_pull }}"
    container_image: "{{ cycloid_db_image }}"
    # needed for mysql 8.x
    container_cmd: "{{ cycloid_db_container_cmd }}"
    container_ports: "{{ cycloid_db_container_ports }}"
    container_args: "{{ container_args_extra }}"
    container_volumes:
      - "{{cycloid_db_path}}:/var/lib/mysql"
    container_env:
      DB_USER: cycloid
      DB_NAME: cycloid
      DB_PWD: "{{cycloid_db_password}}"
      MYSQL_ROOT_PASSWORD: "{{cycloid_db_password}}"
  tags: docker-services
