---
- name: Stop services | cycloid-creds
  service:
    name: "{{ item }}"
    state: stopped
  with_items:
    - vault_container
    - docker
    - docker.socket
  failed_when: false

- name: Remove packages | cycloid-creds
  package:
    name:
      - docker*
    state: absent
  failed_when: false
  when: setup_packages

- name: Remove files | cycloid-creds
  file:
    path: "{{ item }}"
    state: absent
  with_items:
    - "{{ vault_config_path }}"
    - "{{ cycloid_install_path }}"
    - /etc/systemd/system/vault_container.service
    - /etc/default/vault
    - /etc/systemd/system/docker.service
    - /var/lib/docker
    - /opt/containerd

- name: Remove local files | cycloid-creds
  run_once: true
  delegate_to: 127.0.0.1
  become: false
  file:
    path: "{{ item }}"
    state: absent
  with_items:
    - "{{ cycloid_local_datas_path }}/approles"
    - "{{ cycloid_local_datas_path }}/vault.secret"

- name: Force systemd to reread configs | cycloid-creds
  systemd:
    daemon_reload: yes

- name: systemctl reset-failed | cycloid-creds
  shell: systemctl reset-failed
