---

# - name: Add this container to api links
#   set_fact:
#    cycloid_api_container_links: "{{ cycloid_api_container_links + ['cycloid-db'] }}"

# NOTE: As this is a non-root container, the mounted files and directories must have the proper permissions for the UID 1001.
- name: Allow 1001 to write data on host | cycloid-db
  file:
    path: "{{ cycloid_db_path }}"
    state: directory
    mode: 0777
    recurse: yes

- name: Define service | cycloid-db
  include_role:
    name: mhutter.docker-systemd-service
  vars:
    name: cycloid-db
    container_docker_pull: "{{ docker_pull }}"
    container_image: "{{ cycloid_db_image }}"
    container_ports: "{{ cycloid_db_container_ports }}"
    container_args: "{{ container_args_extra }}"
    container_volumes:
      - "{{ cycloid_db_path }}:{{cycloid_db_container_path}}"
    container_env:
      MYSQL_USER: "{{ cycloid_db_user }}"
      MYSQL_DATABASE: "{{ cycloid_db_name }}"
      MYSQL_PASSWORD: "{{ cycloid_db_password }}"
      MYSQL_ROOT_PASSWORD: "{{ cycloid_db_password }}"
      MYSQL_AUTHENTICATION_PLUGIN: "mysql_native_password"
  tags: docker-services
