---

- name: Define cycloid-job-cost-estimation-ingestion_container service | cycloid-cost-estimation
  include_role:
    name: mhutter.docker-systemd-service
  vars:
    name: cycloid-job-cost-estimation-ingestion
    container_docker_pull: "{{ docker_pull }}"
    container_image: "{{cycloid_api_image}}"
    container_args: "--env-file={{ cycloid_install_path }}/approle-cycloid --entrypoint /bin/bash {{ container_args_extra }}"
    container_cmd: "{{ cycloid_job_cost_estimation_ingestion_container_cmd }}"
    container_volumes: "{{ ([container_volumes_ca_certificates] + [ container_volumes_saml ]) | select()|list }}" # select()|list ensure to remove empty list [""]
    container_env:
      MYSQL_DATABASE: "{{ cycloid_db_name }}"
      MYSQL_USER: "{{ cycloid_db_user }}"
      MYSQL_PASSWORD: "{{ cycloid_db_password }}"
      YOUDEPLOY_MYSQL_SERVICE_HOST: "{{ cycloid_db_host }}"
      YOUDEPLOY_MYSQL_SERVICE_PORT: "{{ cycloid_db_port }}"
      EMAIL_SMTP_SVR_ADDR: "{{ cycloid_email_smtp_svr_addr }}"
      EMAIL_SMTP_USERNAME: "{{ cycloid_email_smtp_username }}"
      EMAIL_SMTP_PASSWORD: "{{ cycloid_email_smtp_password }}"
      EMAIL_ADDR_FROM: "{{ cycloid_email_addr_from }}"
      EMAIL_ADDR_RETURN_PATH: "{{ cycloid_email_addr_return_path }}"
      EMAIL_SKIP_TLS_CHECK: "{{ cycloid_email_skip_tls_check }}"
      # if we use the default fake smtp server (mailhog), enable dev_mode to allow unencrypted connection
      EMAIL_DEV_MODE: "{{ setup_smtp_server }}"
      REDIS_HOST: "{{ cycloid_email_redis_host }}"
      REDIS_PORT: "{{ cycloid_email_redis_port }}"
      REDIS_DB: "{{ cycloid_email_redis_db }}"
      REDIS_URI: "redis://{{ cycloid_email_redis_host }}:{{ cycloid_email_redis_port }}/{{ cycloid_email_redis_db }}"
      VAULT_SKIP_VERIFY: true
      VAULT_URL: "{{ vault_url }}"
      LOG_LEVEL: "INFO"
      LOG_SVC_LEVEL: "NONE"
      RUN_MIGRATIONS: 0
      PRICING_INGEST_GOOGLE_CREDENTIAL_JSON: "{{ cost_estimation_gcp_cred_json | string }}"
    service_systemd_options: [ {'key':'Restart','value':'no'}, {'key':'ExecStop','value':''}, {'key':'RuntimeMaxSec','value':'30'}]
    service_state: stopped # start or not the service after its creation

  tags: docker-services

- name: Define cycloid-job-cost-estimation-ingestion_container timer | cycloid-cost-estimation
  template:
    src: templates/systemd/timer.j2
    dest: /lib/systemd/system/cycloid-job-cost-estimation-ingestion.timer
  vars:
    schedule: "{{ cost_estimation_ingestion_schedule }}"
    service: "cycloid-job-cost-estimation-ingestion_container"

# OnCalendar example
# Every Minute	*-*-* *:*:00
# Every 2 minute	*-*-* *:*/2:00
# Every 5 minutes	*-*-* *:*/5:00
# Every 15 minutes	*-*-* *:*/15:00
# Every quarter hour	*-*-* *:*/15:00
# Every 30 minutes	*-*-* *:*/30:00
# Every half an hour	*-*-* *:*/30:00
# Every 60 minutes	*-*-* */1:00:00
# Every 1 hour	*-*-* *:00:00
# Every 2 hour	*-*-* */2:00:00
# Every 3 hour	*-*-* */3:00:00
# Every other hour	*-*-* */2:00:00
# Every 6 hour	*-*-* */6:00:00
# Every 12 hour	*-*-* */12:00:00
# Hour Range	*-*-* 9-17:00:00
# Between certain hours	*-*-* 9-17:00:00
# Every day at midnight	*-*-* 00:00:00
# Every sunday	Sun *-*-* 00:00:00
# Every friday	Fri *-*-* 01:00:00
# Every friday at midnight	Fri *-*-* 00:00:00
# Every saturday	Sat *-*-* 00:00:00
# Every weekday	Mon...Fri *-*-* 00:00:00
# weekends only	Sat,Sun *-*-* 00:00:00
# Every month	* *-*-01 00:00:00
# Every quarter	* *-01,04,07,10-01 00:00:00
# Every 6 months	* *-01,07-01 00:00:00
# Every year	* *-01-01 00:00:00

- name: Enable timer | cycloid-cost-estimation
  ansible.builtin.systemd:
    name: cycloid-job-cost-estimation-ingestion.timer
    enabled: yes
    state: started # start or not the timer after its creation

- name: Force systemd to reread configs | cycloid-cost-estimation
  ansible.builtin.systemd:
    daemon_reload: yes
