---
# - name: Add this container to concourse web links
#   set_fact:
#    concourse_web_container_links: "{{ concourse_web_container_links + ['concourse-db'] }}"

- name: Allow 1001 to write data on host | cycloid-scheduler-db
  file:
    path: "{{ concourse_db_path }}"
    state: directory
    mode: 0777
    recurse: yes

- name: Ensure postgresql config file exists
  copy:
    dest: {{ item.path }}
    content: {{ item.content }}
    mode: "0600"
    owner: "999"
    group: "999"
  with_items:
  - path: {{ concourse_db_path }}/postgresql.conf
    content: |
      listen_addresses = '*'
      max_connections = 100
      shared_buffers = 128MB
      dynamic_shared_memory_type = posix
      max_wal_size = 1GB
      min_wal_size = 80MB
      log_timezone = 'Etc/UTC'
      datestyle = 'iso, mdy'
      timezone = 'Etc/UTC'
      lc_messages = 'en_US.utf8'
      lc_monetary = 'en_US.utf8'
      lc_numeric = 'en_US.utf8'
      lc_time = 'en_US.utf8'
      default_text_search_config = 'pg_catalog.english'

  - path: {{ concourse_db_path }}/pg_hba.conf
    content: |
      local   all         all               trust
      host    all         all 127.0.0.1/32  trust
      host    all         all ::1/128       trust
      local   replication all               trust
      host    replication all 127.0.0.1/32  trust
      host    replication all ::1/128       trust
      host    all         all all           scram-sha-256


- name: Define service | cycloid-scheduler-db
  include_role:
    name: mhutter.docker-systemd-service
  vars:
    name: concourse-db
    container_docker_pull: "{{ docker_pull }}"
    container_image: "{{ concourse_db_image }}"
    container_ports: "{{ concourse_db_container_ports }}"
    container_args: "{{ container_args_extra }}"
    container_volumes:
      - "{{ concourse_db_path }}:{{ concourse_db_container_path }}"
    container_env:
      POSTGRESQL_DB: "{{ concourse_db_name }}"
      POSTGRESQL_USERNAME: "{{ concourse_db_user }}"
      POSTGRESQL_PASSWORD: "{{ concourse_db_password }}"
  tags: docker-services

- name: Force flush handlers to ensure container is started | cycloid-scheduler-db
  meta: flush_handlers
