---
# - name: Add this container to concourse web links
#   set_fact:
#    concourse_web_container_links: "{{ concourse_web_container_links + ['concourse-db'] }}"

- name: Allow 1001 to write data on host | cycloid-scheduler-db
  file:
    path: "{{ concourse_db_path }}"
    state: directory
    mode: 0777
    recurse: yes

- name: Define service | cycloid-scheduler-db
  include_role:
    name: mhutter.docker-systemd-service
  vars:
    name: concourse-db
    container_docker_pull: "{{ docker_pull }}"
    container_image: "{{ concourse_db_image }}"
    container_ports: "{{ concourse_db_container_ports }}"
    container_args: "{{ container_args_extra }}"
    container_volumes:
      - "{{ concourse_db_path }}:{{ concourse_db_container_path }}"
    container_env:
      POSTGRESQL_USERNAME: "{{ concourse_db_user }}"
      POSTGRESQL_DATABASE: "{{ concourse_db_name }}"
      POSTGRESQL_PASSWORD: "{{ concourse_db_password }}"
  tags: docker-services

- name: Force flush handlers to ensure container is started | cycloid-scheduler-db
  meta: flush_handlers
