---
#
# - name: Add this container to api links
#   set_fact:
#    cycloid_api_container_links: "{{ cycloid_api_container_links + ['concourse-web'] }}"

- name: Host key | cycloid-scheduler
  copy:
    content: "{{ concourse_host_key }}"
    dest: "{{ concourse_config_path }}/{{ concourse_host_key_path }}"
  #  owner: "{{ concourse_user }}"
  #  group: "{{ concourse_group }}"
    mode: 0400
  notify:
  - restart concourse web

- name: Session signing key | cycloid-scheduler
  copy:
    content: "{{ concourse_session_signing_key }}"
    dest: "{{ concourse_config_path }}/{{ concourse_session_signing_key_path }}"
  #  owner: "{{ concourse_user }}"
  #  group: "{{ concourse_group }}"
    mode: 0400
  notify:
  - restart concourse web

- name: Copy the ssl in service directories | cycloid-scheduler
  copy:
    src: "{{ cycloid_scheduler_ssl[item] }}"
    dest: "{{ concourse_config_path }}/ssl.{{item}}"
    mode: 0400
  with_items:
    - key
    - crt

- name: Generate session_signing_key local directory | cycloid-scheduler
  file:
    path: "{{ cycloid_local_datas_path }}/scheduler"
    state: directory
    mode: '0777'
    recurse: true
  delegate_to: 127.0.0.1

- name: Copy session_signing_key in local data directory | cycloid-scheduler
  fetch:
    src: "{{ concourse_config_path }}/{{ concourse_session_signing_key_path }}"
    dest: "{{ cycloid_local_datas_path }}/scheduler/{{ concourse_session_signing_key_path }}"
    mode: 0400
    # remote_src: yes
    flat: true

- name: Authorized worker keys | cycloid-scheduler
  copy:
  #template:
    #src: authorized_worker_keys.j2
    content: "{% for key in concourse_authorized_worker_keys %}{{key}}\n{% endfor %}"
    dest: "{{ concourse_config_path }}/{{ concourse_authorized_worker_keys_path }}"
    mode: 0400

- name: Copy vault approles in service directory | cycloid-scheduler
  copy:
    src: "{{ cycloid_local_datas_path }}/approles/approle-concourse-ro"
    dest: "{{ concourse_config_path }}/approle-concourse-ro"
    mode: 0400

- name: Define service | cycloid-scheduler
  include_role:
    name: mhutter.docker-systemd-service
  vars:
    name: concourse-web
    container_docker_pull: "{{ docker_pull }}"
    container_image: "{{concourse_web_image}}"
    container_ports:
      - '2222:2222'
      - '8080:8080'
      - '8443:8443'
    container_volumes:
      # concourse-authorized-keys
      - "{{ concourse_config_path }}:/opt/concourse"
    container_cmd: "web"
    # Additionnal env file for approle
    # Bind network host because of forwarded worker. CC need to know the IP of the web node cause it will use it to connect on local ssh tunnel created
    # to access to the workers. As we run in docker we don't know the IP address, so we bind host to use the one from the host
    container_args: "--network=host --env-file={{ concourse_config_path }}/approle-concourse-ro"
    container_env:
      CONCOURSE_SESSION_SIGNING_KEY: "/opt/concourse/{{ concourse_session_signing_key_path }}"
      CONCOURSE_TSA_HOST_KEY: "/opt/concourse/{{ concourse_host_key_path }}"
      CONCOURSE_TSA_AUTHORIZED_KEYS: "/opt/concourse/{{ concourse_authorized_worker_keys_path }}"
      CONCOURSE_MAIN_TEAM_LOCAL_USER: "{{ concourse_auth_user }}"
      CONCOURSE_ADD_LOCAL_USER: "{{ concourse_auth_user }}:{{ concourse_auth_password }}"
      # Vault integration
      CONCOURSE_VAULT_URL: "{{ vault_url }}"
      CONCOURSE_VAULT_AUTH_BACKEND: approle
      CONCOURSE_VAULT_PATH_PREFIX: /cycloid
      CONCOURSE_TLS_CERT: /opt/concourse/ssl.crt
      CONCOURSE_TLS_KEY: /opt/concourse/ssl.key
      CONCOURSE_TLS_BIND_PORT: 8443
      CONCOURSE_VAULT_INSECURE_SKIP_VERIFY: true
      # Defined in vault
      #CONCOURSE_VAULT_APPROLE_SECRET_ID: "VAULT SECRET IDs"
      #CONCOURSE_VAULT_APPROLE_ROLE_ID: "VAULT APPROLE ID"
      #CONCOURSE_VAULT_AUTH_PARAM: "role_id:$(CONCOURSE_VAULT_APPROLE_ROLE_ID),secret_id:$(CONCOURSE_VAULT_APPROLE_SECRET_ID)"
      #CONCOURSE_LOG_LEVEL: error
      #CONCOURSE_TSA_LOG_LEVEL: error
      CONCOURSE_DEFAULT_BUILD_LOGS_TO_RETAIN: "10"
      CONCOURSE_MAX_BUILD_LOGS_TO_RETAIN: "10"
      CONCOURSE_OLD_RESOURCE_GRACE_PERIOD: 5m
      CONCOURSE_RESOURCE_CACHE_CLEANUP_INTERVAL: 30s
      CONCOURSE_PEER_ADDRESS: "{{ concourse_peer_address }}"
      CONCOURSE_EXTERNAL_URL: "{{ concourse_external_url }}"
      CONCOURSE_POSTGRES_HOST: "{{ concourse_db_host }}"
      CONCOURSE_POSTGRES_PORT: "5432"
      CONCOURSE_POSTGRES_USER: "{{concourse_db_user}}"
      CONCOURSE_POSTGRES_DATABASE: "{{concourse_db_name}}"
      CONCOURSE_POSTGRES_SSLMODE: disable
      CONCOURSE_POSTGRES_PASSWORD: "{{concourse_db_password}}"
      #CONCOURSE_INFLUXDB_URL: http://localhost:9122
      http_proxy: "{{ http_proxy }}"
      https_proxy: "{{ http_proxy }}"
      no_proxy: "{{ no_proxy }}"

  tags: docker-services
