---
- name: Force flush handlers to ensure all other containers like concourse web is started before running the api | cycloid-core api
  meta: flush_handlers

- name: Create config directory | cycloid-core api
  file:
    path: "{{ item }}"
    state: directory
    mode: 0777
    recurse: yes
  with_items:
    - "{{ cycloid_api_path }}"

- name: Copy vault approles in service directory | cycloid-core api
  copy:
    src: "{{ cycloid_local_datas_path }}/approles/approle-cycloid"
    dest: "{{ cycloid_api_path }}/approle-cycloid"
    mode: 0400

- name: check if redis SSL enabled | cycloid-core api
  run_once: true
  stat:
    path: "{{ cycloid_redis_ssl['crt'] }}"
  register: redis_ssl_stat
  delegate_to: 127.0.0.1
  become: false
  when: cycloid_cache_schema == "rediss" and not cycloid_cache_insecure_skip_tls|bool

- name: Copy the redis ca cert in service directories | cycloid-cache
  copy:
    src: "{{ cycloid_redis_ssl['crt'] }}"
    dest: "{{ cycloid_api_path }}/redis-ca.crt"
    mode: 0440
  when: cycloid_cache_schema == "rediss" and not cycloid_cache_insecure_skip_tls|bool and redis_ssl_stat.stat.exists
  notify:
    - restart cycloid-api
    - restart cycloid-api-task-manager

# # if needed read the Redis cert as envvar #
# - name: Read the redis certificate | cycloid-core api
#   run_once: true
#   slurp:
#     src: "{{ cycloid_redis_ssl['crt'] }}"
#   register: redis_ssl_crt
#   delegate_to: 127.0.0.1
#   become: false
#   when: cycloid_cache_schema == "rediss" and not cycloid_cache_insecure_skip_tls|bool and redis_ssl_stat.stat.exists
# ###

- name: Define service | cycloid-core api
  include_role:
    name: mhutter.docker-systemd-service
  vars:
    container_name: cycloid-api
    container_docker_pull: "{{ docker_pull }}"
    container_image: "{{ cycloid_api_image }}"
    container_ports: "{{ cycloid_api_container_ports }}"
    container_args: "--env-file={{ cycloid_api_path }}/approle-cycloid {{ container_args_update_ca }} {{ container_args_extra }}"
    container_cmd: "{{ cycloid_api_container_cmd|default('', true) }}"
    container_volumes: "{{ ([container_volumes_ca_certificates] + [ container_api_volumes_redis_ca ] ) | select()|list }}" # select()|list ensure to remove empty list [""]
    container_env:
      DB_NAME: "{{ cycloid_db_name }}"
      DB_USER: "{{ cycloid_db_user }}"
      DB_PWD: "{{ cycloid_db_password }}"
      DB_HOST: "{{ cycloid_db_host }}"
      DB_PORT: "{{ cycloid_db_port }}"
      CONCOURSE_URL: "{{ concourse_url }}"
      CONCOURSE_PORT: "{{ concourse_port }}"
      CONCOURSE_USER: "{{ concourse_auth_user }}"
      CONCOURSE_PASSWORD: "{{ concourse_auth_password }}"
      CONCOURSE_TEAM: main
      VAULT_URL: "{{ vault_url }}"
      VAULT_SKIP_VERIFY: true
      # Defined by env-file
      #VAULT_ROLE_ID:
      #VAULT_SECRET_ID:
      #JAEGER_ENDPOINT: "localhost:14268"
      EMAIL_SMTP_SVR_ADDR: "{{ cycloid_email_smtp_svr_addr }}"
      EMAIL_SMTP_USERNAME: "{{ cycloid_email_smtp_username }}"
      EMAIL_SMTP_PASSWORD: "{{ cycloid_email_smtp_password }}"
      EMAIL_ADDR_FROM: "{{ cycloid_email_addr_from }}"
      EMAIL_ADDR_RETURN_PATH: "{{ cycloid_email_addr_return_path }}"
      EMAIL_SKIP_TLS_CHECK: "{{ cycloid_email_skip_tls_check }}"
      # if we use the default fake smtp server (mailhog), enable dev_mode to allow unencrypted connection
      EMAIL_DEV_MODE: "{{ use_local_smtp_server }}"
      REDIS_URI: "{{ cycloid_cache_uri }}"
      REDIS_INSECURE_SKIP_TLS: "{{ cycloid_cache_insecure_skip_tls }}"
      # REDIS_CA_CERT: "{{ (redis_ssl_crt.content|b64decode|trim|replace('\n', '\\n')) | default('') }}"
      # Only used if cycloid_cache_schema == "rediss" and not cycloid_cache_insecure_skip_tls|bool
      REDIS_CA_CERT_FILE: "{{ cycloid_api_redis_ca_cert_file }}"
      JWT_KEY_1: "{{ cycloid_jwt_key_1 }}"
      FRONTEND_BASE_URL: "{{ cycloid_console_base_url }}"
      BACKEND_BASE_URL: "{{ cycloid_api_base_url }}"
      CORS_ALLOWED_ORIGINS: "{{ cycloid_api_cors_allowed_origins }}"
      CRYPTO_SIGNING_KEY: "{{ cycloid_crypto_signing_key }}"
      COST_EXPLORER_ES_URL: "{{ cost_explorer_es_url }}"
      COST_EXPLORER_ES_USERNAME: "{{ cost_explorer_es_username }}"
      COST_EXPLORER_ES_PASSWORD: "{{ cost_explorer_es_password }}"
      COST_EXPLORER_ES_INSECURE_SKIP_TLS: "{{ cost_explorer_es_insecure_skip_tls }}"
      #COST_EXPLORER_ES_CA_CERT: "{{ cost_explorer_es_ca_cert }}"
      LOG_LEVEL: "{{ cycloid_api_log_level }}"
      LOG_SVC_LEVEL: "NONE"
      # Do not use api as worker since we use a dedicated container
      WORKER_RUN_INTERNAL: "{{ cycloid_api_worker_run_internal }}"
      #LOG_DEV_MODE: true
      #LOG_SVC_LEVEL: "DEBUG"
      http_proxy: "{{ http_proxy }}"
      https_proxy: "{{ http_proxy }}"
      no_proxy: "{{ no_proxy }}"
  tags: docker-services

- name: Force flush handlers to ensure cycloid-api is started to create the first user | cycloid-core api
  meta: flush_handlers

- name: Wait and check if we have to create the first cycloid-api user | cycloid-core api
  command: "mysql --skip-ssl-verify-server-cert --protocol TCP -h {{ cycloid_db_host }} -P {{ cycloid_db_port }} -u {{ cycloid_db_user }} -p{{ cycloid_db_password }} {{ cycloid_db_name }} -Ns -e 'SELECT canonical FROM users;' || mysql --protocol TCP -h {{ cycloid_db_host }} -P {{ cycloid_db_port }} -u {{ cycloid_db_user }} -p{{ cycloid_db_password }} {{ cycloid_db_name }} -Ns -e 'SELECT canonical FROM users;'"
  register: users
  retries: 30
  delay: 10
  ignore_errors: true
- set_fact: sql_query_rows="{{users.stdout_lines|length}}"

- block:
    - name: Create initial cycloid user | cycloid-core api
      uri:
        url: http://localhost:3001/user
        method: POST
        body_format: raw
        validate_certs: no
        status_code: 200
        return_content: no
        headers:
          Accept: "*/*"
          Connection: "keep-alive"
          DNT: "1"
          Content-type: "application/vnd.cycloid.io.v1+json"
        body: "{{cycloid_initial_user|to_json}}"
      retries: 30
      delay: 10
      no_log: false
      register: init_of_api
      until: init_of_api.status == 200

    - name: Login with cycloid user | cycloid-core api
      uri:
        url: http://localhost:3001/user/login
        method: POST
        body_format: raw
        validate_certs: no
        status_code: 200
        return_content: no
        headers:
          Accept: "*/*"
          Connection: "keep-alive"
          DNT: "1"
          Content-type: "application/vnd.cycloid.io.v1+json"
        body: "{{cycloid_login_user|to_json}}"
      no_log: false
      register: cy_user_token

    - name: Create initial cycloid organization | cycloid-core api
      uri:
        url: http://localhost:3001/organizations
        method: POST
        body_format: raw
        validate_certs: no
        status_code: 200
        return_content: no
        headers:
          Accept: "*/*"
          Authorization: "Bearer {{ cy_user_token.json.data.token }}"
          Connection: "keep-alive"
          DNT: "1"
          Content-type: "application/vnd.cycloid.io.v1+json"
        body: "{{cycloid_initial_organization|to_json}}"
      no_log: false
      register: init_of_api_org

    # Try if the login works
    - name: Login in cycloid org | cycloid-core api
      uri:
        url: "http://localhost:3001/user/refresh_token?organization_canonical={{ cycloid_initial_organization.canonical }}"
        method: GET
        validate_certs: no
        status_code: 200
        return_content: no
        headers:
          Accept: "*/*"
          Authorization: "Bearer {{ cy_user_token.json.data.token }}"
          Connection: "keep-alive"
          DNT: "1"
          Content-type: "application/vnd.cycloid.io.v1+json"
      no_log: false
      register: cy_org_token

    #- name: Create initial cycloid creds | cycloid-core api
    #  uri:
    #    url: "http://localhost:3001/organizations/{{ cycloid_initial_organization.canonical }}/credentials"
    #    method: POST
    #    body_format: raw
    #    validate_certs: no
    #    return_content: no
    #    status_code: 200
    #    headers:
    #      Authorization: "Bearer {{ cy_org_token.json.data.token }}"
    #      Accept: "*/*"
    #      Connection: "keep-alive"
    #      DNT: "1"
    #      Content-type: "application/vnd.cycloid.io.v1+json"
    #    body: "{{cycloid_initial_catalog_cred|to_json}}"
    #  no_log: false
    #  register: init_of_api_cred

    # Adding the cred ID previously created
    #- set_fact: "cycloid_initial_service_catalog={{ cycloid_initial_service_catalog | combine({'credential_id': init_of_api_cred.json.data.id|int}) }}"

    - name: Renew cycloid licence | cycloid-core api
      uri:
        url: "http://localhost:3001/organizations/{{ cycloid_initial_organization.canonical }}/licence"
        method: POST
        body_format: raw
        validate_certs: no
        return_content: no
        status_code: 204
        headers:
          Authorization: "Bearer {{ cy_org_token.json.data.token }}"
          Accept: "*/*"
          Connection: "keep-alive"
          DNT: "1"
          Content-type: "application/vnd.cycloid.io.v1+json"
        body: "{{cycloid_licence_body|to_json}}"
      no_log: false
      when: cycloid_licence != ''

    - block:
        # This is a temporary refresh. The refresh is needed between 2 calls but it should change soon.
        - name: Refresh user token | cycloid-core api
          uri:
            url: "http://localhost:3001/user/refresh_token?organization_canonical={{ cycloid_initial_organization.canonical }}"
            method: GET
            validate_certs: no
            status_code: 200
            return_content: no
            headers:
              Accept: "*/*"
              Authorization: "Bearer {{ cy_user_token.json.data.token }}"
              Connection: "keep-alive"
              DNT: "1"
              Content-type: "application/vnd.cycloid.io.v1+json"
          no_log: false
          register: cy_org_token

        - name: Create admin APIKEY on first organization | cycloid-core api
          uri:
            url: "http://localhost:3001/organizations/{{ cycloid_initial_organization.canonical }}/api_keys"
            method: POST
            body_format: raw
            validate_certs: no
            return_content: yes
            status_code: 200
            headers:
              Authorization: "Bearer {{ cy_org_token.json.data.token }}"
              Accept: "*/*"
              Connection: "keep-alive"
              DNT: "1"
              Content-type: "application/vnd.cycloid.io.v1+json"
            body: '{"name":"admin","description":"full admin apikey created by onprem ansible playbook","canonical":"admin","rules":[{"action":"organization:**","effect":"allow","resources":[]}]}'
          no_log: false
          register: cy_admin_apikey

        - name: Local save of apikey | cycloid-core api
          copy:
            content: "{{ cy_admin_apikey.json.data.token }}"
            dest: "{{ playbook_dir }}/admin.apikey"
          delegate_to: localhost
          become: false
      when: cycloid_admin_apikey and cycloid_licence != ''

    - block:
        # This is a temporary refresh. The refresh is needed between 2 calls but it should change soon.
        - name: Refresh user token | cycloid-core api
          uri:
            url: "http://localhost:3001/user/refresh_token?organization_canonical={{ cycloid_initial_organization.canonical }}"
            method: GET
            validate_certs: no
            status_code: 200
            return_content: no
            headers:
              Accept: "*/*"
              Authorization: "Bearer {{ cy_user_token.json.data.token }}"
              Connection: "keep-alive"
              DNT: "1"
              Content-type: "application/vnd.cycloid.io.v1+json"
          no_log: false
          register: cy_org_token

        - name: Create initial cycloid service catalog | cycloid-core api
          uri:
            url: "http://localhost:3001/organizations/{{ cycloid_initial_organization.canonical }}/service_catalog_sources"
            method: POST
            body_format: raw
            validate_certs: no
            return_content: no
            status_code: 200
            headers:
              Authorization: "Bearer {{ cy_org_token.json.data.token }}"
              Accept: "*/*"
              Connection: "keep-alive"
              DNT: "1"
              Content-type: "application/vnd.cycloid.io.v1+json"
            body: "{{cycloid_initial_service_catalog|to_json}}"
          no_log: false
      when: cycloid_public_stacks and cycloid_licence != ''

    - block:
        # This is a temporary refresh. The refresh is needed between 2 calls but it should change soon.
        - name: Refresh user token | cycloid-core api
          uri:
            url: "http://localhost:3001/user/refresh_token?organization_canonical={{ cycloid_initial_organization.canonical }}"
            method: GET
            validate_certs: no
            status_code: 200
            return_content: no
            headers:
              Accept: "*/*"
              Authorization: "Bearer {{ cy_user_token.json.data.token }}"
              Connection: "keep-alive"
              DNT: "1"
              Content-type: "application/vnd.cycloid.io.v1+json"
          no_log: false
          register: cy_org_token

        - name: Create initial cycloid blueprints | cycloid-core api
          uri:
            url: "http://localhost:3001/organizations/{{ cycloid_initial_organization.canonical }}/service_catalog_sources"
            method: POST
            body_format: raw
            validate_certs: no
            return_content: no
            status_code: 200
            headers:
              Authorization: "Bearer {{ cy_org_token.json.data.token }}"
              Accept: "*/*"
              Connection: "keep-alive"
              DNT: "1"
              Content-type: "application/vnd.cycloid.io.v1+json"
            body: "{{cycloid_initial_service_catalog_blueprints|to_json}}"
          no_log: false
      when: cycloid_public_blueprints and cycloid_licence != ''

    - block:
        # This is a temporary refresh. The refresh is needed between 2 calls but it should change soon.
        - name: Refresh user token | cycloid-core api
          uri:
            url: "http://localhost:3001/user/refresh_token?organization_canonical={{ cycloid_initial_organization.canonical }}"
            method: GET
            validate_certs: no
            status_code: 200
            return_content: no
            headers:
              Accept: "*/*"
              Authorization: "Bearer {{ cy_user_token.json.data.token }}"
              Connection: "keep-alive"
              DNT: "1"
              Content-type: "application/vnd.cycloid.io.v1+json"
          no_log: false
          register: cy_org_token

        - name: Create elasticsearch credentials | cycloid-core api
          with_fileglob:
            - "{{ cycloid_third_party['crt'] }}"
          uri:
            url: "http://localhost:3001/organizations/{{ cycloid_initial_organization.canonical }}/credentials"
            method: POST
            body_format: raw
            validate_certs: no
            return_content: no
            status_code: 200
            headers:
              Authorization: "Bearer {{ cy_org_token.json.data.token }}"
              Accept: "*/*"
              Connection: "keep-alive"
              DNT: "1"
              Content-type: "application/vnd.cycloid.io.v1+json"
            body: "{{cycloid_elasticsearch_default | combine({'raw':{ 'ca_cert': item }}, recursive=True) | to_json}}"
          no_log: false
      when: "'elasticsearch' in groups and elasticsearch_basic_auth and cycloid_licence != ''"

  # run_once: true
  ignore_errors: "{{ ansible_check_mode }}"
  when: sql_query_rows|int == 0 and inventory_hostname == groups['cycloid_core'][0] and cycloid_api_provisioning | bool

- name: Copy cycloid-intercept script | cycloid-core api
  copy:
    src: scripts/cycloid-intercept.sh
    dest: /usr/local/bin/cycloid-intercept
    mode: "0755"

- name: Define service | cycloid-core api-task-manager
  include_role:
    name: mhutter.docker-systemd-service
  vars:
    container_name: cycloid-api-task-manager
    container_docker_pull: "{{ docker_pull }}"
    container_image: "{{cycloid_api_image}}"
    container_ports: "{{ cycloid_api_task_manage_container_ports }}"
    container_args: "--env-file={{ cycloid_api_path }}/approle-cycloid {{ container_args_update_ca }} {{ container_args_extra }}"
    container_cmd: "{{ cycloid_api_container_cmd|default('', true) }}"
    container_volumes: "{{ ([container_volumes_ca_certificates] + [ container_api_volumes_redis_ca ] ) | select()|list }}" # select()|list ensure to remove empty list [""]
    container_env:
      # Run backend as worker/task-manager
      RUN_CMD: worker
      DB_NAME: "{{ cycloid_db_name }}"
      DB_USER: "{{ cycloid_db_user }}"
      DB_PWD: "{{ cycloid_db_password }}"
      DB_HOST: "{{ cycloid_db_host }}"
      DB_PORT: "{{ cycloid_db_port }}"
      CONCOURSE_URL: "{{ concourse_url }}"
      CONCOURSE_PORT: "{{ concourse_port }}"
      CONCOURSE_USER: "{{ concourse_auth_user }}"
      CONCOURSE_PASSWORD: "{{ concourse_auth_password }}"
      CONCOURSE_TEAM: main
      VAULT_URL: "{{ vault_url }}"
      VAULT_SKIP_VERIFY: true
      # Defined by env-file
      #VAULT_ROLE_ID:
      #VAULT_SECRET_ID:
      #JAEGER_ENDPOINT: "localhost:14268"
      EMAIL_SMTP_SVR_ADDR: "{{ cycloid_email_smtp_svr_addr }}"
      EMAIL_SMTP_USERNAME: "{{ cycloid_email_smtp_username }}"
      EMAIL_SMTP_PASSWORD: "{{ cycloid_email_smtp_password }}"
      EMAIL_ADDR_FROM: "{{ cycloid_email_addr_from }}"
      EMAIL_ADDR_RETURN_PATH: "{{ cycloid_email_addr_return_path }}"
      EMAIL_SKIP_TLS_CHECK: "{{ cycloid_email_skip_tls_check }}"
      # if we use the default fake smtp server (mailhog), enable dev_mode to allow unencrypted connection
      EMAIL_DEV_MODE: "{{ use_local_smtp_server }}"
      REDIS_URI: "{{ cycloid_cache_uri }}"
      REDIS_INSECURE_SKIP_TLS: "{{ cycloid_cache_insecure_skip_tls }}"
      REDIS_CA_CERT_FILE: "{{ cycloid_api_redis_ca_cert_file }}"
      CRYPTO_SIGNING_KEY: "{{ cycloid_crypto_signing_key }}"
      COST_EXPLORER_ES_URL: "{{ cost_explorer_es_url }}"
      COST_EXPLORER_ES_USERNAME: "{{ cost_explorer_es_username }}"
      COST_EXPLORER_ES_PASSWORD: "{{ cost_explorer_es_password }}"
      COST_EXPLORER_ES_INSECURE_SKIP_TLS: "{{ cost_explorer_es_insecure_skip_tls }}"
      #COST_EXPLORER_ES_CA_CERT: "{{ cost_explorer_es_ca_cert }}"
      FRONTEND_BASE_URL: "{{ cycloid_console_base_url }}"
      BACKEND_BASE_URL: "{{ cycloid_api_base_url }}"
      LOG_LEVEL: "{{ cycloid_api_log_level }}"
      LOG_SVC_LEVEL: "NONE"
      #LOG_DEV_MODE: true
      #LOG_SVC_LEVEL: "DEBUG"
      http_proxy: "{{ http_proxy }}"
      https_proxy: "{{ http_proxy }}"
      no_proxy: "{{ no_proxy }}"
  tags: docker-services
  when: cycloid_api_task_manager_enabled|bool

- name: Force flush handlers to ensure cycloid-api-task-manager is started | cycloid-core api
  meta: flush_handlers
  when: cycloid_api_task_manager_enabled|bool
