---

- name: Cycloid Frontend | frontend
  include_role:
    name: mhutter.docker-systemd-service
  vars:
    name: cycloid-frontend
    container_docker_pull: "{{ docker_pull }}"
    container_image: "{{cycloid_frontend_image}}"
    container_links: [ 'cycloid-api' ]
    container_ports:
      - '8888:80'
    container_env:
      CYCLOID_API_URL: "{%- if cycloid_use_api_via_console -%}https://{{cycloid_console_dns}}/api{%- else -%}https://{{cycloid_api_dns}}{%- endif -%}"
  tags: docker-services
