---
- name: Define service | cycloid-scheduler-sync-worker-keys
  include_role:
    name: mhutter.docker-systemd-service
  vars:
    name: cycloid-scheduler-sync-worker-keys
    container_docker_pull: "{{ docker_pull }}"
    container_image: "{{ cycloid_scheduler_sync_worker_keys_image }}"
    container_volumes:
      # team_authorized_worker_keys.yml
      - "{{ concourse_config_path }}:/datas"
    # Additionnal env file for approle
    # Adding pid letting this container able to send SIGNAL to Concourse for reloading authorized key files
    container_args: "--pid=container:concourse-web --env-file={{ concourse_config_path }}/approle-concourse-ro {{ container_args_extra }}"
    container_env:
      # Vault integration
      VAULT_URL: "{{ vault_url }}"
      VAULT_MOUNT_POINT: "cycloid"
      VAULT_INSECURE_SKIP_VERIFY: "True"
      YAML_KEYS_FILE: "/datas/{{ concourse_team_authorized_worker_keys_path }}"
  tags: docker-services

- name: Force flush handlers to ensure container is started | cycloid-scheduler-sync-worker-keys
  meta: flush_handlers
