---
# - name: Add this container to api links
#   set_fact:
#    cycloid_api_container_links: "{{ cycloid_api_container_links + ['cycloid-cache'] }}"

- name: Create config directory | cycloid-cache
  file:
    path: "{{ item }}"
    state: directory
    mode: 0777
    recurse: yes
  with_items:
    - "{{ cycloid_cache_path }}"

- name: Copy the ssl in service directories | cycloid-cache
  copy:
    src: "{{ cycloid_redis_ssl[item] }}"
    dest: "{{ cycloid_cache_path }}/ssl.{{item}}"
    mode: 0440
  with_items:
    - key
    - crt
  when: cycloid_cache_tls_enabled|bool

- name: Define service | cycloid-cache
  include_role:
    name: mhutter.docker-systemd-service
  vars:
    name: cycloid-cache
    container_docker_pull: "{{ docker_pull }}"
    container_image: "{{ cycloid_cache_image }}"
    container_ports: "{{ cycloid_cache_container_ports }}"
    container_args: "{{ container_args_extra }}"
    container_env: "{{ cycloid_cache_env }}"
    container_volumes:
      - "{{cycloid_cache_path}}:/bitnami/redis"
  tags: docker-services

- name: Force flush handlers to ensure container is started | cycloid-cache
  meta: flush_handlers

# https://github.com/hibiken/asynqmon?tab=readme-ov-file#run-the-binary
- name: Define service asynqmon | cycloid-cache
  include_role:
    name: mhutter.docker-systemd-service
  vars:
    name: cycloid-cache-asynqmon
    container_docker_pull: "{{ docker_pull }}"
    container_image: "{{ cycloid_cache_mon_image }}"
    container_ports:
      - "{{ cycloid_cache_mon_port }}:8080"
    container_env:
      # REDIS_URI: "{{ cycloid_cache_uri }}"
      REDIS_INSECURE_TLS: "{{ cycloid_cache_tls_enabled }}"
      PORT: "8080"
      REDIS_DB: "{{ cycloid_email_redis_db }}"
      REDIS_PASSWORD: "{{ cycloid_cache_password }}"
      REDIS_ADDR: "{{ cycloid_email_redis_host }}:{{ cycloid_email_redis_port }}"
    container_args: "{{ container_args_extra }}"
  tags: docker-services
  when: cycloid_cache_mon_install|bool
