---

- name: "Define service | cycloid-core frontend"
  include_role:
    name: "mhutter.docker-systemd-service"
  vars:
    name: "cycloid-frontend"
    container_docker_pull: "{{ docker_pull }}"
    container_image: "{{cycloid_frontend_image}}"
    # container_links: [ 'cycloid-api' ]
    container_ports: "{{cycloid_frontend_container_ports}}"
    container_args: "{{ container_args_extra }}"
    container_env:
      CYCLOID_API_URL: "{{cycloid_api_base_url}}"
      CYCLOID_BASE_URL: "{{ cycloid_console_base_url }}"
  tags: "docker-services"

- name: "Force flush handlers to ensure container is started | cycloid-core frontend"
  meta: "flush_handlers"
