---


- name: Cycloid api | api
  include_role:
    name: mhutter.docker-systemd-service
  vars:
    name: cycloid-api
    container_docker_pull: "{{ docker_pull }}"
    container_image: "{{cycloid_api_image}}"
    container_links: [ 'cycloid-db', 'vault', 'concourse-web' ]
    #container_volumes:
    #  - '/data/uploads:/data/uploads'
    container_ports:
      - '3001:3001'
    container_args: "--env-file={{ cycloid_install_path }}/approle-cycloid"
    container_env:
      MYSQL_DATABASE: "{{ cycloid_db_name }}"
      MYSQL_USER: "{{ cycloid_db_user }}"
      MYSQL_PASSWORD: "{{ cycloid_db_password }}"
      YOUDEPLOY_MYSQL_SERVICE_HOST: "{{ cycloid_db_host }}"
      YOUDEPLOY_MYSQL_SERVICE_PORT: "{{ cycloid_db_port }}"
      CONCOURSE_URL: "{{ concourse_url }}"
      CONCOURSE_PORT: "8443"
      CONCOURSE_USER: "{{ concourse_auth_user }}"
      CONCOURSE_TEAM: main
      CONCOURSE_PASSWORD: "{{ concourse_auth_password }}"
      VAULT_URL: "{{ vault_url }}"
      VAULT_SKIP_VERIFY: true
      # Defined by env-file
      #VAULT_ROLE_ID:
      #VAULT_SECRET_ID:
      #TOOD: edit the entrypoint to make it optionnal
      JAEGER_COLLECTOR_SERVICE_HOST: localhost
      JAEGER_COLLECTOR_PORT_14268_TCP_PORT: 14268

  tags: docker-services

- name: Force flush handlers to ensure cycloid-api is started to create the first user | api
  meta: flush_handlers

- name: Wait and check if we have to create the first cycloid-api user | api
  command: "mysql --protocol TCP -h localhost -P {{ cycloid_db_port }} -u {{ cycloid_db_user }} -p{{ cycloid_db_password }} {{ cycloid_db_name }} -Ns -e 'SELECT * FROM users;'"
  register: users
  no_log: true
  retries: 30
  delay: 10
  ignore_errors: true
  when: setup_cycloid_db
- set_fact: sql_query_rows="{{users.stdout_lines|length}}"
  when: setup_cycloid_db

- name: Wait and check if we have to create the first cycloid-api user | api
  command: "mysql --protocol TCP -h {{ cycloid_db_host }} -P {{ cycloid_db_port }} -u {{ cycloid_db_user }} -p{{ cycloid_db_password }} {{ cycloid_db_name }} -Ns -e 'SELECT * FROM users;'"
  register: users
  no_log: true
  retries: 30
  delay: 10
  ignore_errors: true
  when: not setup_cycloid_db
- set_fact: sql_query_rows="{{users.stdout_lines|length}}"
  when: not setup_cycloid_db

- name: Create initial cycloid user | api
  uri:
    url: http://localhost:3001/user
    method: POST
    body_format: raw
    validate_certs: no
    status_code: 204
    return_content: no
    headers:
      Accept: "*/*"
      Connection: "keep-alive"
      DNT: "1"
      Content-type: "application/vnd.cycloid.io.v1+json"
    body: "{{cycloid_initial_user|to_json}}"
  retries: 30
  delay: 10
  no_log: true
  register: init_of_api
  until: init_of_api.status == 204
  when: sql_query_rows|int == 0


