---

- name: Define service | cycloid-cloud-cost-management
  include_role:
    name: mhutter.docker-systemd-service
  include_vars: "{{ cycloid_install_path }}/approle-cycloid"
  vars:
    name: cycloid-ccm
    container_docker_pull: "{{ docker_pull }}"
    container_image: "{{cycloid_api_image}}"
    container_ports:
      - '3001'
    container_cmd: "/go/youdeploy-http-api ingest-cost-explorer --config-file=/opt/config.yml --cost-explorer-skip-queue=true"
    container_env:
      MYSQL_DATABASE: "{{ cycloid_db_name }}"
      MYSQL_USER: "{{ cycloid_db_user }}"
      MYSQL_PASSWORD: "{{ cycloid_db_password }}"
      YOUDEPLOY_MYSQL_SERVICE_HOST: "{{ cycloid_db_host }}"
      YOUDEPLOY_MYSQL_SERVICE_PORT: "{{ cycloid_db_port }}"
      REDIS_HOST: "{{ cycloid_email_redis_host }}"
      REDIS_PORT: "{{ cycloid_email_redis_port }}"
      REDIS_DB: "{{ cycloid_email_redis_db }}"
      REDIS_URI: "redis://{{ cycloid_email_redis_host }}:{{ cycloid_email_redis_port }}/{{ cycloid_email_redis_db }}"
      VAULT_URL: "{{ vault_url }}"
      VAULT_SKIP_VERIFY: true
      LOG_LEVEL: "INFO"
      LOG_SVC_LEVEL: "NONE"
      RUN_MIGRATIONS: 0
      #Temporary
      COST_EXPLORER_ES_URL: "{{ cost_explorer_es_url }}"
      COST_EXPLORER_ES_USERNAME: "{{ cost_explorer_es_username }}"
      COST_EXPLORER_ES_PASSWORD: "{{ cost_explorer_es_password }}"
      COST_EXPLORER_ES_INSECURE_SKIP_TLS: "{{ cost_explorer_es_insecure_skip_tls }}"
    service_systemd_options: [ {'key':'Restart','value':'no'}, {'key':'ExecStop','value':''}]
    service_state: stopped # start or not the service after its creation

  tags: docker-services

- name: Define timer | cycloid-cloud-cost-management
  template:
    src: templates/cloud-cost-management/ccm.timer.j2
    dest: /lib/systemd/system/cycloid-ccm_container.timer
  vars:
    schedule: "*-*-* 00:00:00"

- name: Enable timer | cycloid-cloud-cost-management
  ansible.builtin.systemd:
    name: cycloid-ccm_container.timer
    enabled: yes
    state: started # start or not the timer after its creation

- name: Force systemd to reread configs
  ansible.builtin.systemd:
    daemon_reload: yes