---
# - name: Add this container to api links
#   set_fact:
#    cycloid_api_container_links: "{{ cycloid_api_container_links + ['cycloid-cache'] }}"

- name: "Create config directory | cycloid-cache"
  file:
    path: "{{ item }}"
    state: "directory"
    mode: 0777
    recurse: true
  with_items:
  - "{{ cycloid_cache_path }}/data"

- name: "Copy the ssl in service directories | cycloid-cache"
  copy:
    src: "{{ cycloid_redis_ssl[item] }}"
    dest: "{{ cycloid_cache_path }}/ssl.{{item}}"
    mode: 0444
  with_items:
  - "key"
  - "crt"
  when: "cycloid_cache_tls_enabled|bool"
  ignore_errors: "{{ ansible_check_mode }}"
  notify:
  - "restart cycloid-cache"

- name: "Generate redis.conf | cycloid-cache"
  copy:
    dest: "{{ cycloid_cache_path }}/redis.conf"
    mode: "0740"
    content: |
      {% if cycloid_cache_password != ''  %}
      requirepass "{{ cycloid_cache_password }}"
      {% endif %}

      {% if cycloid_cache_tls_enabled %}
      tls-auth-clients no
      port 0
      tls-port 6379
      tls-cert-file "/ssl/ssl.crt"
      tls-key-file "/ssl/ssl.key"
      tls-ca-cert-file "/ssl/ssl.crt"
      {% endif %}

- name: "Define service | cycloid-cache"
  include_role:
    name: "mhutter.docker-systemd-service"
  vars:
    name: "cycloid-cache"
    container_docker_pull: "{{ docker_pull }}"
    container_image: "{{ cycloid_cache_image }}"
    container_ports: "{{ cycloid_cache_container_ports }}"
    container_env: "{{ cycloid_cache_env }}"
    container_cmd: "redis-server /usr/local/etc/redis/redis.conf"
    container_args: "{{ container_args_extra }}"
    # container_volumes:
    #   - "{{ cycloid_cache_path }}:/data"
    #   - "{{ cycloid_cache_path }}/ssl.key:/ssl/ssl.key:ro"
    #   - "{{ cycloid_cache_path }}/ssl.crt:/ssl/ssl.crt:ro"
    container_volumes: "{{ ([container_cache_volumes_redis_data] + [container_cache_volumes_redis_config] + container_cache_volumes_redis_ssl ) | select()|list }}"  # select()|list ensure to remove empty list [""]

  tags: "docker-services"

- name: "Force flush handlers to ensure container is started | cycloid-cache"
  meta: "flush_handlers"

# https://github.com/hibiken/asynqmon?tab=readme-ov-file#run-the-binary
- name: "Define service asynqmon | cycloid-cache"
  include_role:
    name: "mhutter.docker-systemd-service"
  vars:
    name: "cycloid-cache-asynqmon"
    container_docker_pull: "{{ docker_pull }}"
    container_image: "{{ cycloid_cache_mon_image }}"
    container_ports:
    - "{{ cycloid_cache_mon_port }}:8080"
    container_env:
      # REDIS_URI: "{{ cycloid_cache_uri }}"
      REDIS_INSECURE_TLS: "{{ cycloid_cache_tls_enabled }}"
      PORT: "8080"
      REDIS_DB: "{{ cycloid_email_redis_db }}"
      REDIS_PASSWORD: "{{ cycloid_cache_password }}"
      REDIS_ADDR: "{{ cycloid_email_redis_host }}:{{ cycloid_email_redis_port }}"
    container_args: "{{ container_args_extra }}"
  tags: "docker-services"
  when: "cycloid_cache_mon_install|bool"
