---

- name: Force flush handlers to ensure all other containers like concourse web is started before running the api | cycloid-core api
  meta: flush_handlers

- name: Copy vault approles in service directory | cycloid-core api
  copy:
    src: "{{ cycloid_local_datas_path }}/approles/approle-cycloid"
    dest: "{{ cycloid_install_path }}/approle-cycloid"
    mode: 0400

- name: Copy session_signing_key in service directory | cycloid-core api
  copy:
    src: "{{ cycloid_local_datas_path }}/scheduler/{{ concourse_session_signing_key_path }}"
    dest: "{{ concourse_config_path }}/{{ concourse_session_signing_key_path }}"
    mode: 0400

- name: Define service | cycloid-core api
  include_role:
    name: mhutter.docker-systemd-service
  vars:
    name: cycloid-api
    container_docker_pull: "{{ docker_pull }}"
    container_image: "{{cycloid_api_image}}"
    #container_links: "{{ cycloid_api_container_links }}"
    container_volumes:
      # concourse-authorized-keys
      - "{{ concourse_config_path }}:/opt/concourse"
    container_ports:
      - '3001:3001'
    container_args: "--env-file={{ cycloid_install_path }}/approle-cycloid"
    container_env:
      CONCOURSE_SESSION_SIGNING_KEY: "/opt/concourse/{{ concourse_session_signing_key_path }}"
      MYSQL_DATABASE: "{{ cycloid_db_name }}"
      MYSQL_USER: "{{ cycloid_db_user }}"
      MYSQL_PASSWORD: "{{ cycloid_db_password }}"
      YOUDEPLOY_MYSQL_SERVICE_HOST: "{{ cycloid_db_host }}"
      YOUDEPLOY_MYSQL_SERVICE_PORT: "{{ cycloid_db_port }}"
      CONCOURSE_URL: "{{ concourse_url }}"
      CONCOURSE_PORT: "{{ concourse_port }}"
      CONCOURSE_USER: "{{ concourse_auth_user }}"
      CONCOURSE_TEAM: main
      VAULT_URL: "{{ vault_url }}"
      VAULT_SKIP_VERIFY: true
      # Defined by env-file
      #VAULT_ROLE_ID:
      #VAULT_SECRET_ID:
      JAEGER_COLLECTOR_SERVICE_HOST: localhost
      JAEGER_COLLECTOR_PORT_14268_TCP_PORT: 14268
      EMAIL_SMTP_SVR_ADDR: "{{ cycloid_email_smtp_svr_addr }}"
      EMAIL_SMTP_USERNAME: "{{ cycloid_email_smtp_username }}"
      EMAIL_SMTP_PASSWORD: "{{ cycloid_email_smtp_password }}"
      EMAIL_ADDR_FROM: "{{ cycloid_email_addr_from }}"
      EMAIL_ADDR_RETURN_PATH: "{{ cycloid_email_addr_return_path }}"
      EMAIL_REDIS_HOST: "{{ cycloid_email_redis_host }}"
      EMAIL_REDIS_PORT: "{{ cycloid_email_redis_port }}"
      EMAIL_REDIS_DB: "{{ cycloid_email_redis_db }}"
      EMAIL_INSECURE: "{{ cycloid_email_insecure }}"
      JWT_KEY_1: "{{ cycloid_jwt_key_1 }}"
      FRONTEND_BASE_URL: "{{ cycloid_frontend_base_url }}"
      CRYPTO_SIGNING_KEY: "{{ cycloid_crypto_signing_key }}"
      LOG_LEVEL: "INFO"
      LOG_SVC_LEVEL: "NONE"
      #LOG_LEVEL: "DEBUG"
      #LOG_DEV_MODE: true
      #LOG_SVC_LEVEL: "DEBUG"
      http_proxy: "{{ http_proxy }}"
      https_proxy: "{{ http_proxy }}"
      no_proxy: "{{ no_proxy }}"

  tags: docker-services

- name: Force flush handlers to ensure cycloid-api is started to create the first user | cycloid-core api
  meta: flush_handlers

- name: Wait and check if we have to create the first cycloid-api user | cycloid-core api
  command: "mysql --protocol TCP -h localhost -P {{ cycloid_db_port }} -u {{ cycloid_db_user }} -p{{ cycloid_db_password }} {{ cycloid_db_name }} -Ns -e 'SELECT * FROM users;'"
  register: users
  no_log: true
  retries: 30
  delay: 10
  ignore_errors: true
  when: setup_cycloid_db
- set_fact: sql_query_rows="{{users.stdout_lines|length}}"
  when: setup_cycloid_db

- name: Wait and check if we have to create the first cycloid-api user | cycloid-core api
  command: "mysql --protocol TCP -h {{ cycloid_db_host }} -P {{ cycloid_db_port }} -u {{ cycloid_db_user }} -p{{ cycloid_db_password }} {{ cycloid_db_name }} -Ns -e 'SELECT * FROM users;'"
  register: users
  no_log: true
  retries: 30
  delay: 10
  ignore_errors: true
  when: not setup_cycloid_db
- set_fact: sql_query_rows="{{users.stdout_lines|length}}"
  when: not setup_cycloid_db

- block:
    - name: Create initial cycloid user | cycloid-core api
      uri:
        url: http://localhost:3001/user
        method: POST
        body_format: raw
        validate_certs: no
        status_code: 204
        return_content: no
        headers:
          Accept: "*/*"
          Connection: "keep-alive"
          DNT: "1"
          Content-type: "application/vnd.cycloid.io.v1+json"
        body: "{{cycloid_initial_user|to_json}}"
      retries: 30
      delay: 10
      no_log: false
      register: init_of_api
      until: init_of_api.status == 204

    - name: Login with cycloid user | cycloid-core api
      uri:
        url: http://localhost:3001/user/login
        method: POST
        body_format: raw
        validate_certs: no
        status_code: 200
        return_content: no
        headers:
          Accept: "*/*"
          Connection: "keep-alive"
          DNT: "1"
          Content-type: "application/vnd.cycloid.io.v1+json"
        body: "{{cycloid_initial_user|to_json}}"
      no_log: false
      register: cy_user_token

    - name: Create initial cycloid organization | cycloid-core api
      uri:
        url: http://localhost:3001/organizations
        method: POST
        body_format: raw
        validate_certs: no
        status_code: 200
        return_content: no
        headers:
          Accept: "*/*"
          Authorization: "Bearer {{ cy_user_token.json.data.token }}"
          Connection: "keep-alive"
          DNT: "1"
          Content-type: "application/vnd.cycloid.io.v1+json"
        body: "{{cycloid_initial_organization|to_json}}"
      no_log: false
      register: init_of_api_org

    - name: Login in cycloid org | cycloid-core api
      uri:
        url: "http://localhost:3001/user/refresh_token?organization_canonical={{ cycloid_initial_organization.canonical }}"
        method: GET
        validate_certs: no
        status_code: 200
        return_content: no
        headers:
          Accept: "*/*"
          Authorization: "Bearer {{ cy_user_token.json.data.token }}"
          Connection: "keep-alive"
          DNT: "1"
          Content-type: "application/vnd.cycloid.io.v1+json"
      no_log: false
      register: cy_org_token

    #- name: Create initial cycloid creds | cycloid-core api
    #  uri:
    #    url: "http://localhost:3001/organizations/{{ cycloid_initial_organization.canonical }}/credentials"
    #    method: POST
    #    body_format: raw
    #    validate_certs: no
    #    return_content: no
    #    status_code: 200
    #    headers:
    #      Authorization: "Bearer {{ cy_org_token.json.data.token }}"
    #      Accept: "*/*"
    #      Connection: "keep-alive"
    #      DNT: "1"
    #      Content-type: "application/vnd.cycloid.io.v1+json"
    #    body: "{{cycloid_initial_catalog_cred|to_json}}"
    #  no_log: false
    #  register: init_of_api_cred

    # Adding the cred ID previously created
    #- set_fact: "cycloid_initial_service_catalog={{ cycloid_initial_service_catalog | combine({'credential_id': init_of_api_cred.json.data.id|int}) }}"

    - name: Create initial cycloid service catalog | cycloid-core api
      uri:
        url: "http://localhost:3001/organizations/{{ cycloid_initial_organization.canonical }}/service_catalog_sources"
        method: POST
        body_format: raw
        validate_certs: no
        return_content: no
        status_code: 200
        headers:
          Authorization: "Bearer {{ cy_org_token.json.data.token }}"
          Accept: "*/*"
          Connection: "keep-alive"
          DNT: "1"
          Content-type: "application/vnd.cycloid.io.v1+json"
        body: "{{cycloid_initial_service_catalog|to_json}}"
      no_log: false

    - name: Create elasticsearch credentials | cycloid-core api
      with_file:
        - "{{ cycloid_third_party['crt'] }}"
      uri:
        url: "http://localhost:3001/organizations/{{ cycloid_initial_organization.canonical }}/credentials"
        method: POST
        body_format: raw
        validate_certs: no
        return_content: no
        status_code: 200
        headers:
          Authorization: "Bearer {{ cy_org_token.json.data.token }}"
          Accept: "*/*"
          Connection: "keep-alive"
          DNT: "1"
          Content-type: "application/vnd.cycloid.io.v1+json"
        body: "{{cycloid_elasticsearch_default | combine({'raw':{ 'ca_cert': item }}, recursive=True) | to_json}}"
      no_log: false
      when: "'elasticsearch' in groups and elasticsearch_basic_auth"

  when: sql_query_rows|int == 0
