---
- name: Stop services | cycloid-creds
  service:
    name: "{{ item }}"
    state: stopped
  with_items:
    - vault
    - docker
  failed_when: false

- name: Remove packages | cycloid-creds
  package:
    name: "{{ item }}"
    state: absent
  with_items:
    - docker*

- name: Remove files | cycloid-creds
  file:
    path: "{{ item }}"
    state: absent
  with_items:
    - "{{ vault_config_path }}"
    - "{{ cycloid_install_path }}"
    - /etc/systemd/system/vault_container.service
    - /etc/systemd/system/docker.service
    - /var/lib/docker
    - /opt/containerd

- name: Force systemd to reread configs | cycloid-creds
  systemd:
    daemon_reload: yes

- name: systemctl reset-failed | cycloid-creds
  shell: systemctl reset-failed
