---

# - name: Add this container to api links
#   set_fact:
#    cycloid_api_container_links: "{{ cycloid_api_container_links + ['cycloid-cache'] }}"

- name: Define service | cycloid-cache
  include_role:
    name: mhutter.docker-systemd-service
  vars:
    name: cycloid-cache
    container_docker_pull: "{{ docker_pull }}"
    container_image: "{{ cycloid_cache_image }}"
    container_ports: "{{ cycloid_cache_container_ports }}"
    container_args: "{{ container_args_extra }}"
    container_env: "{{ cycloid_cache_env }}"
    container_volumes:
      - "{{cycloid_cache_path}}:/data"
  tags: docker-services

- name: Force flush handlers to ensure container is started | cycloid-cache
  meta: flush_handlers

- name: Define service asynqmon | cycloid-cache
  include_role:
    name: mhutter.docker-systemd-service
  vars:
    name: cycloid-cache-asynqmon
    container_docker_pull: "{{ docker_pull }}"
    container_image: "{{ cycloid_cache_mon_image }}"
    container_ports:
      - '{{ cycloid_cache_mon_port }}:8080'
    container_args: "-e REDIS_URL=\"{{ cycloid_cache_uri }}\" -e PORT=8080 {{ container_args_extra }}"
  tags: docker-services
  when: cycloid_cache_mon_install|bool
