---
- name: install elasticsearch container
  block:
    - name: create elasticsearch volume storage
      docker_volume:
        name: elasticsearch-storage
        state: present
        labels:
          ansible.managed: "true"
          cycloid.io: "true"

    - name: create elasticsearch container
      include_role:
        name: mhutter.docker-systemd-service
      vars:
        container_name: elasticsearch
        container_image: "elasticsearch:{{ elasticsearch_version }}"
        container_volumes:
          - elasticsearch-storage:/data
        container_ports:
          - "{{ elasticsearch_port_node }}:9300"
          - "{{ elasticsearch_port_api }}:9200"
        container_labels:
          - ansible.managed=true
          - systemd.managed=true
          - cycloid.io=true
        container_env:
          discovery.type: single-node
          node.name: elasticsearch-cycloid
          ES_JAVA_OPTS: "-Xms512m -Xmx512m"
        # systemd
        enable: true
        masked: false
        state: started
      tags: docker-services

    - name: wait for elasticsearch availability
      uri:
        url: "http://localhost:{{ elasticsearch_port_api }}/_cat/health"
        status_code:
          - 200
      register: resp
      until: resp.status == 200
      delay: 10
