---

- name: Stop services | elasticsearch
  service:
    name: "{{ item }}"
    state: stopped
  with_items:
    - elasticsearch
    - docker
  failed_when: false

- name: Remove packages | elasticsearch
  package:
    name:
      - docker*
    state: absent
  failed_when: false
  when: setup_packages

- name: Remove files | elasticsearch
  file:
    path: "{{ item }}"
    state: absent
  with_items:
    - "{{ elasticsearch_config_path }}/"
    - /etc/systemd/system/elasticsearch.service
    - /etc/systemd/system/docker.service
    - /etc/default/elasticsearch
    - /var/lib/docker
    - /opt/containerd

- name: Force systemd to reread configs | elasticsearch
  systemd:
    daemon_reload: yes

- name: systemctl reset-failed | elasticsearch
  shell: systemctl reset-failed
