---
- name: Ensure self signed certs local directory exist | ssl
  run_once: true
  file:
    path: "{{ cycloid_local_datas_path }}/ssl"
    state: directory
    mode: '0777'
    recurse: true
  delegate_to: 127.0.0.1
  become: false

- name: check SSL exist
  run_once: true
  stat:
    path: "{{ cycloid_local_datas_path }}/ssl/cycloid-core.key"
  register: ssl_key
  delegate_to: 127.0.0.1
  become: false

- block:
  - name: Generate a OpenSSL private key | ssl
    openssl_privatekey:
      # path: "{{ cycloid_local_datas_path }}/ssl/cycloid.key"
      # path: "{{ cycloid_install_path }}/ssl.key"
      path: "{{ cycloid_install_path }}/cycloid.key"

  - name: Generate a OpenSSL certificate request | ssl
    openssl_csr:
      # path: "{{ cycloid_local_datas_path }}/ssl/cycloid.csr"
      # privatekey_path: "{{ cycloid_local_datas_path }}/ssl/cycloid.key"
      # path: "{{ cycloid_install_path }}/ssl.csr"
      # privatekey_path: "{{ cycloid_install_path }}/ssl.key"
      path: "{{ cycloid_install_path }}/cycloid.csr"
      privatekey_path: "{{ cycloid_install_path }}/cycloid.key"
      common_name: "{{ cycloid_console_dns }}"
      subject_alt_name: "{{ (default_ssl_subject_alt_name + ssl_subject_alt_name) | join(',') }}"
      country_name: fr
      state_or_province_name: France
      organization_name: Cycloid
      email_address: "{{ cycloid_initial_user['email'] }}"

  - name: Generate a Self Signed OpenSSL certificate | ssl
    openssl_certificate:
      # path: "{{ cycloid_local_datas_path }}/ssl/cycloid.crt"
      # privatekey_path: "{{ cycloid_local_datas_path }}/ssl/cycloid.key"
      # csr_path: "{{ cycloid_local_datas_path }}/ssl/cycloid.csr"
      # path: "{{ cycloid_install_path }}/ssl.crt"
      # privatekey_path: "{{ cycloid_install_path }}/ssl.key"
      # csr_path: "{{ cycloid_install_path }}/ssl.csr"
      path: "{{ cycloid_install_path }}/cycloid.crt"
      privatekey_path: "{{ cycloid_install_path }}/cycloid.key"
      csr_path: "{{ cycloid_install_path }}/cycloid.csr"
      provider: selfsigned

  - name: Copy the ssl in local data directory | ssl
    fetch:
      src: "{{ cycloid_install_path }}/cycloid.{{item.0}}"
      # src: "{{ cycloid_install_path }}/ssl.{{item.0}}"
      # dest: "{{item.1}}/ssl.{{item.0}}"
      dest: "{{item.1}}.{{item.0}}"
      mode: 0400
      flat: true
    # with_nested:
    #   - [ 'key', 'crt' ]
    #   -
    #     - "{{ concourse_config_path }}"
    #     - "{{ vault_config_path }}/config"
    with_nested:
      - [ 'key', 'crt' ]
      -
        - "{{ cycloid_local_datas_path }}/ssl/cycloid-scheduler"
        - "{{ cycloid_local_datas_path }}/ssl/cycloid-creds"
        - "{{ cycloid_local_datas_path }}/ssl/cycloid-core"
        - "{{ cycloid_local_datas_path }}/ssl/cycloid-redis"
        - "{{ cycloid_local_datas_path }}/ssl/cycloid-third-party"
  run_once: true
  when: ssl_generate_selfsigned and not ssl_key.stat.exists

# this is temporary to allow legacy setup to generate ssl for redis
# this could be removed in the future
- name: check if redis SSL exists | ssl
  run_once: true
  stat:
    path: "{{ cycloid_local_datas_path }}/ssl/cycloid-redis.crt"
  register: redis_ssl_stat
  delegate_to: 127.0.0.1
  become: false

- name: Copy the ssl in local data directory | ssl
  fetch:
    src: "{{ cycloid_install_path }}/cycloid.{{item.0}}"
    dest: "{{item.1}}.{{item.0}}"
    mode: 0400
    flat: true
  with_nested:
    - [ 'key', 'crt' ]
    -
      - "{{ cycloid_local_datas_path }}/ssl/cycloid-redis"
  run_once: true
  when: ssl_generate_selfsigned and not redis_ssl_stat.stat.exists

#####################################################


### SAML ###

- name: Checking existing sp SAML cert | ssl
  stat:
    path: "{{ saml_local_path }}/{{ saml_sp_certificate_file }}"
  register: stat_cert_saml
  when: saml_auth_enabled|bool

- name: Copy selfsigned sp SAML files if not present | ssl
  fetch:
    src: "{{ cycloid_install_path }}/cycloid.{{item.0}}"
    dest: "{{item.1}}.{{item.0}}"
    mode: 0400
    flat: true
  when:  == False
  with_nested:
    - [ 'key', 'crt' ]
    -
      - "{{ saml_local_path }}/cycloid-saml-sp"
  run_once: true
  when: ssl_generate_selfsigned and saml_auth_enabled and not stat_cert_saml.stat.exists

- name: Verify SAML local files| pre-setup
  become: false
  delegate_to: 127.0.0.1
  run_once: true
  when: saml_auth_enabled
  block:
    - name: Checking existing idp SAML file | ssl
      stat:
        path: "{{ saml_local_path }}/{{ saml_idp_metadata_file }}"
      register: stat_saml_idp
      when: saml_idp_metadata_path != ''

    - name: Check idp SAML prerequisites | ssl
      fail:
        msg: "SAML file {{saml_idp_metadata_file}} doesn't exists"
      when: saml_idp_metadata_path != '' and stat_saml_idp.stat.exists == False

- name: Copy SAML sp certificates and idp metadata | ssl
  copy:
    src: "{{ item }}"
    dest: "{{ saml_config_path }}/"
    owner: "root"
    mode: 0644
  with_fileglob:
    - "{{ saml_local_path }}/*"
  when: saml_auth_enabled
