---
- name: check SSL exist
  stat:
    path: "{{ cycloid_local_datas_path }}/ssl/cycloid.key"
  register: ssl_key
  delegate_to: 127.0.0.1

- block:
  - name: Generate self signed certs local directory | ssl
    file:
      path: "{{ cycloid_local_datas_path }}/ssl"
      state: directory
      mode: '0700'
      recurse: true
    delegate_to: 127.0.0.1

  - name: Generate a OpenSSL private key | ssl
    openssl_privatekey:
      # path: "{{ cycloid_local_datas_path }}/ssl/cycloid.key"
      # path: "{{ cycloid_install_path }}/ssl.key"
      path: "{{ cycloid_install_path }}/cycloid.key"

  - name: Generate a OpenSSL certificate request | ssl
    openssl_csr:
      # path: "{{ cycloid_local_datas_path }}/ssl/cycloid.csr"
      # privatekey_path: "{{ cycloid_local_datas_path }}/ssl/cycloid.key"
      # path: "{{ cycloid_install_path }}/ssl.csr"
      # privatekey_path: "{{ cycloid_install_path }}/ssl.key"
      path: "{{ cycloid_install_path }}/cycloid.csr"
      privatekey_path: "{{ cycloid_install_path }}/cycloid.key"
      common_name: 127.0.0.1
      subject_alt_name: 'DNS:cycloid,DNS:localhost,DNS:vault,DNS:concourse'

  - name: Generate a Self Signed OpenSSL certificate | ssl
    openssl_certificate:
      # path: "{{ cycloid_local_datas_path }}/ssl/cycloid.crt"
      # privatekey_path: "{{ cycloid_local_datas_path }}/ssl/cycloid.key"
      # csr_path: "{{ cycloid_local_datas_path }}/ssl/cycloid.csr"
      # path: "{{ cycloid_install_path }}/ssl.crt"
      # privatekey_path: "{{ cycloid_install_path }}/ssl.key"
      # csr_path: "{{ cycloid_install_path }}/ssl.csr"
      path: "{{ cycloid_install_path }}/cycloid.crt"
      privatekey_path: "{{ cycloid_install_path }}/cycloid.key"
      csr_path: "{{ cycloid_install_path }}/cycloid.csr"
      provider: selfsigned

  - name: Copy the ssl in local data directory | ssl
    fetch:
      src: "{{ cycloid_install_path }}/cycloid.{{item.0}}"
      # src: "{{ cycloid_install_path }}/ssl.{{item.0}}"
      # dest: "{{item.1}}/ssl.{{item.0}}"
      dest: "{{item.1}}.{{item.0}}"
      mode: 0400
      flat: true
    # with_nested:
    #   - [ 'key', 'crt' ]
    #   -
    #     - "{{ concourse_config_path }}"
    #     - "{{ vault_config_path }}/config"
    with_nested:
      - [ 'key', 'crt' ]
      -
        - "{{ cycloid_local_datas_path }}/ssl/cycloid-scheduler"
        - "{{ cycloid_local_datas_path }}/ssl/cycloid-creds"
        - "{{ cycloid_local_datas_path }}/ssl/cycloid-core"
    become: no
  run_once: true
  when: ssl_generate_selfsigned and not ssl_key.stat.exists
