---
- block:
    - include: pre-setup.yml

    - include: gen-ssl.yml
      # when: not validate_only and setup_cycloid_core

    - include: cycloid_creds.yml
      when: setup_cycloid_creds|bool

    - include: cycloid_db.yml
      when: setup_cycloid_db|bool

    - include: smtp.yml
      when: setup_smtp_server|bool

    - include: cycloid_cache.yml
      when: setup_cycloid_cache|bool

    - include: cycloid_scheduler_db.yml
      when: setup_cycloid_scheduler_db|bool

    - include: cycloid_scheduler.yml
      when: setup_cycloid_scheduler|bool

    - include: cycloid_api.yml
      when: setup_cycloid_core|bool
    - include: cycloid_frontend.yml
      when: setup_cycloid_core|bool
    - include: nginx.yml
      when: setup_cycloid_core|bool

    - include: cycloid_scheduler_sync_worker_keys.yml
      when: setup_cycloid_scheduler|bool


    #- include: prometheus.yml

    - include: minio.yml
      when: setup_minio|bool

    - include: elasticsearch.yml
      when: setup_elasticsearch

  when: not uninstall|bool and not validate_only|bool

# Wait and validate running services
- include: validate.yml
  when: (validate|bool or validate_only|bool) and not uninstall|bool

- block:
    - include: cycloid_scheduler_sync_worker_keys_uninstall.yml
      when: setup_cycloid_scheduler|bool

    - include: cycloid_creds_uninstall.yml
      when: setup_cycloid_creds|bool

    - include: cycloid_db_uninstall.yml
      when: setup_cycloid_db|bool

    - include: smtp_uninstall.yml
      when: setup_smtp_server|bool

    - include: cycloid_cache_uninstall.yml
      when: setup_cycloid_cache|bool

    - include: cycloid_scheduler_db_uninstall.yml
      when: setup_cycloid_scheduler_db|bool

    - include: cycloid_scheduler_uninstall.yml
      when: setup_cycloid_scheduler|bool

    - include: cycloid_core_uninstall.yml
      when: setup_cycloid_core|bool

    - include: minio_uninstall.yml
      when: setup_minio|bool
    - include: elasticsearch_uninstall.yml
      when: setup_elasticsearch|bool
  when: uninstall|bool
