---

- include: pre-setup.yml
  when: not validate_only

- include: gen-ssl.yml
  when: not validate_only

- include: vault.yml
  when: not validate_only and setup_vault

- include: cycloid-db.yml
  when: not validate_only and setup_cycloid_db

- include: cycloid-smtp.yml
  when: not validate_only and cycloid_email_smtp_svr_addr == "cycloid-smtp:1025"

- include: cycloid-redis.yml
  when: not validate_only and setup_cycloid_redis

- include: concourse-db.yml
  when: not validate_only and setup_concourse_db

- include: concourse-web.yml
  when: not validate_only

- include: cycloid-api.yml
  when: not validate_only

- include: cycloid-frontend.yml
  when: not validate_only

- include: nginx.yml
  when: not validate_only

#- include: prometheus.yml

# Wait and validate running services
- include: validate.yml
  when: validate or validate_only

- include: minio.yml
  when: not validate_only and setup_minio
