---
- block:
    - name: Check cycloid old nginx vhost config if exist | cycloid-core nginx
      stat:
        path: /etc/nginx/sites-enabled/01-cycloid-console.conf
      register: vhost

    - fail:
        msg: Legacy, we detected Cycloid legacy vhost 01-cycloid-console.conf installed on your server. Nginx is not required anymore by Cycloid. We moved to a dedicated Docker container. Please remove legacy 01-cycloid-console.conf vhost or Nginx before running the installation again ...
      when: vhost.stat.exists == True

- name: Create config directory | cycloid-core nginx
  file:
    path: "{{ item }}"
    state: directory
    recurse: yes
  with_items:
    - "{{ cycloid_nginx_path }}/vhosts"
    - "{{ cycloid_nginx_path }}/ssl"

- name: Copy nginx vhosts | cycloid-core nginx
  template:
    src: "nginx/{{item}}.j2"
    dest: "{{ cycloid_nginx_path }}/vhosts/{{item}}.conf"
  with_items:
    - 00-default-force-ssl
    - 01-cycloid-console
    - 02-cycloid-api

- name: Copy the ssl in service directories | cycloid-core nginx
  copy:
    src: "{{ cycloid_core_ssl[item] }}"
    dest: "{{ cycloid_nginx_path }}/ssl/ssl.{{item}}"
    mode: 0400
  with_items:
    - key
    - crt
  notify:
    - restart nginx

- name: Define service | cycloid-core nginx
  include_role:
    name: mhutter.docker-systemd-service
  vars:
    name: nginx
    container_docker_pull: "{{ docker_pull }}"
    container_image: "{{ cycloid_nginx_image }}"
    #container_links: "{{ cycloid_api_container_links + ['cycloid-api', 'cycloid-frontend'] }}"
    container_links:
      - "cycloid-api"
      - "cycloid-frontend"
    container_volumes:
      - "{{ cycloid_nginx_path }}/vhosts:/etc/nginx/conf.d"
      - "{{ cycloid_nginx_path }}/ssl:/etc/nginx/ssl"
    container_ports: "{{ cycloid_nginx_container_ports }}"
    container_args: "{{ container_args_extra }}"
    container_env:
      NGINX_ENTRYPOINT_QUIET_LOGS: 1
      http_proxy: "{{ http_proxy }}"
      https_proxy: "{{ http_proxy }}"
      no_proxy: "{{ no_proxy }}"

  tags: docker-services

#- name: Set SELinux boolean to allow nginx to set rlimit
#  seboolean:
#    name: httpd_can_network_connect
#    state: yes
#    persistent: yes
#  when: ansible_selinux and ansible_selinux.status == "enabled"
#  tags: nginx

- name: Force flush handlers to ensure container is started | cycloid-core nginx
  meta: flush_handlers
