---
- name: Copy the ssl in service directories | cycloid-core nginx
  copy:
    src: "{{ cycloid_core_ssl[item] }}"
    dest: "{{ cycloid_install_path }}/ssl.{{item}}"
    mode: 0400
  with_items:
    - key
    - crt

- name: Define service | cycloid-core nginx
  include_role:
    name: jdauphant.nginx
  vars:
    nginx_remove_sites:
      - default
    nginx_configs:
      01-proxy:
        - proxy_set_header X-Real-IP  $remote_addr
        - proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for
    nginx_sites:
      00-default-force-ssl:
        - listen       80 default_server
        - server_name  default
        - rewrite     ^   https://$host$request_uri? permanent
      01-cycloid-console:
        - listen       443 ssl
        - server_name  "{{ cycloid_console_dns }}"
        - access_log /var/log/nginx/cycloid-console-access.log
        - error_log  /var/log/nginx/cycloid-console-error.log
        - ssl_certificate {{ cycloid_install_path }}/ssl.crt
        - ssl_certificate_key {{ cycloid_install_path }}/ssl.key
        - location / {
            proxy_pass http://127.0.0.1:3000;
            proxy_set_header   X-FORWARDED_PROTO https;
            proxy_set_header   X-FORWARDED_PORT 443;
          }
        - location /api {
            proxy_set_header   X-FORWARDED_PROTO https;
            proxy_set_header   X-FORWARDED_PORT 443;
            proxy_set_header   Host              {{ cycloid_api_dns }};
            proxy_buffering  off;
            proxy_cache      off;
            proxy_connect_timeout 3600;
            proxy_send_timeout    3600;
            proxy_read_timeout    3600;
            keepalive_timeout     3600;
            proxy_set_header Connection keep-alive;
            proxy_pass https://127.0.0.1/;
          }
      02-cycloid-api:
        - listen       443 ssl
        - server_name  "{{ cycloid_api_dns }}"
        - ssl_certificate {{ cycloid_install_path }}/ssl.crt
        - ssl_certificate_key {{ cycloid_install_path }}/ssl.key
        - access_log /var/log/nginx/cycloid-api-access.log
        - error_log  /var/log/nginx/cycloid-api-error.log
        - |-
          location / {
              proxy_pass http://127.0.0.1:3001;
              proxy_set_header   X-FORWARDED_PROTO https;
              proxy_set_header   X-FORWARDED_PORT 443;
              proxy_connect_timeout                   360s;
              proxy_send_timeout                      360s;
              proxy_read_timeout                      360s;
              # Cors Preflight methods needs additional options and different Return Code
              if ($request_method = 'OPTIONS') {
                  add_header 'Access-Control-Allow-Origin' '*' always;
                  add_header 'Access-Control-Allow-Credentials' 'true' always;
                  add_header 'Access-Control-Allow-Methods' 'GET, PUT, POST, DELETE, PATCH, OPTIONS' always;
                  add_header 'Access-Control-Allow-Headers' 'DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Authorization,X-Refresh-Token' always;
                  add_header 'Access-Control-Max-Age' '1728000' always;
                  add_header 'Content-Type' 'text/plain charset=UTF-8' always;
                  add_header 'Content-Length' '0' always;
                  return 204;
              }

              add_header 'Access-Control-Allow-Origin' '*' always;
              add_header 'Access-Control-Allow-Credentials' 'true' always;
              add_header 'Access-Control-Allow-Methods' 'GET, PUT, POST, DELETE, PATCH, OPTIONS' always;
              add_header 'Access-Control-Allow-Headers' 'DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Authorization,X-Refresh-Token' always;
              chunked_transfer_encoding off;
              add_header 'Access-Control-Expose-Headers' 'X-Refresh-Token' always;
          }


  tags: nginx
