---
- name: Install package depends | pre-setup
  package:
    name: "{{ cycloid_packages[ansible_distribution | lower + '-' + ansible_distribution_major_version] | default(cycloid_packages[ansible_os_family | lower]) }}"
    state: present

- block:
  - name: switch to iptables-legacy (debian 10 issue)
    alternatives:
      name: iptables
      path: /usr/sbin/iptables-legacy
  - name: restart docker to apply network rules
    service:
      name: docker
      state: restarted
  when: use_iptables_legacy

- name: Upgrade pip | pre-setup
  pip:
    name: pip
    state: latest

# Depends for ECR login
- name: Install pip depends | pre-setup
  pip:
     name:
      - awscli
      - docker
     state: latest
  when: cycloid_ecr_access_key is defined and cycloid_ecr_secret_key is defined

- name: ECR login | pre-setup
  shell: "$(AWS_ACCESS_KEY_ID={{ cycloid_ecr_access_key }} AWS_SECRET_ACCESS_KEY={{ cycloid_ecr_secret_key }} aws ecr get-login --no-include-email --region eu-west-1)"
  when: cycloid_ecr_access_key is defined and cycloid_ecr_secret_key is defined

# For private docker
#- name: Log into Cycloid ecr
#  docker_login:
#    registry_url:
#    username: user
#    password: password

- name: Create config directory | pre-setup
  file:
    path: "{{ item }}"
    state: directory
    #mode: 0750
    recurse: yes
  with_items:
    - "{{ concourse_config_path }}"
    - "{{ vault_config_path }}/config"
    - "{{ vault_config_path }}/file"
    - "{{ elasticsearch_config_path }}"
