---
- apt:
    name: "{{item}}"
    state: present
  with_items:
    - python-openssl
    - mysql-client
    - python-setuptools

- easy_install:
    name: pip
    state: present

# Depends for ECR login
- name: install pip depends
  pip:
     name: "{{item}}"
     state: latest
  with_items:
    - awscli
    - docker
  when: cycloid_ecr_access_key is defined and cycloid_ecr_secret_key is defined

- name: ECR login
  shell: "$(AWS_ACCESS_KEY_ID={{ cycloid_ecr_access_key }} AWS_SECRET_ACCESS_KEY={{ cycloid_ecr_secret_key }} aws ecr get-login --no-include-email --region eu-west-1)"
  when: cycloid_ecr_access_key is defined and cycloid_ecr_secret_key is defined

# For private docker
#- name: Log into Cycloid ecr
#  docker_login:
#    registry_url:
#    username: user
#    password: password

- name: create config directory | pre-setup
  file:
    path: "{{ item }}"
    state: directory
    #mode: 0750
    recurse: yes
  with_items:
    - "{{ concourse_config_path }}"
    - "{{ vault_config_path }}/config"
    - "{{ vault_config_path }}/file"
