---
- name: Install package depends | pre-setup
  package:
    name:
      - python-openssl
      - default-mysql-client
      - python-setuptools
      - python-pip
      - gnupg2
      - pass
    state: present

- name: Install package depends Debian 10 | pre-setup
  package:
    name:
      - python-backports.ssl-match-hostname
    state: present
  when: ansible_distribution == 'Debian' and ansible_distribution_version == '10'

- name: Upgrade pip | pre-setup
  pip:
    name: pip
    state: latest

# Depends for ECR login
- name: Install pip depends | pre-setup
  pip:
     name:
      - awscli
      - docker
     state: latest
  when: cycloid_ecr_access_key is defined and cycloid_ecr_secret_key is defined

- name: ECR login | pre-setup
  shell: "$(AWS_ACCESS_KEY_ID={{ cycloid_ecr_access_key }} AWS_SECRET_ACCESS_KEY={{ cycloid_ecr_secret_key }} aws ecr get-login --no-include-email --region eu-west-1)"
  when: cycloid_ecr_access_key is defined and cycloid_ecr_secret_key is defined

# For private docker
#- name: Log into Cycloid ecr
#  docker_login:
#    registry_url:
#    username: user
#    password: password

- name: Create config directory | pre-setup
  file:
    path: "{{ item }}"
    state: directory
    #mode: 0750
    recurse: yes
  with_items:
    - "{{ concourse_config_path }}"
    - "{{ vault_config_path }}/config"
    - "{{ vault_config_path }}/file"
    - "{{ elasticsearch_config_path }}"
