---
# - name: Add this container to api links
#   set_fact:
#    cycloid_api_container_links: "{{ cycloid_api_container_links + ['cycloid-smtp'] }}"

- name: Create config directory | smtp-server
  file:
    path: "{{ item }}"
    state: directory
    recurse: yes
  with_items:
    - "{{ cycloid_smtp_path }}"

- name: Generate mailhog auth file | smtp-server
  copy:
    content: "{{ cycloid_email_smtp_username }}:{{ cycloid_email_smtp_password | password_hash(hashtype='bcrypt')  }}"
    dest: "{{ cycloid_smtp_path }}/mailhog.auth"

# Because Cycloid need a smtp server in any case, provide a mailhog mail server

- name: Define service | smtp-server
  include_role:
    name: mhutter.docker-systemd-service
  vars:
    container_name: cycloid-smtp
    container_docker_pull: "{{ docker_pull }}"
    container_image: "mailhog/mailhog:v1.0.1"
    container_ports: "{{ cycloid_smtp_container_ports }}"
    container_args: "{{ container_args_extra }}"
    container_volumes:
      - "{{cycloid_smtp_path}}:/opt"
  tags: docker-services

- name: Force flush handlers to ensure container is started | smtp-server
  meta: flush_handlers
