---

- name: "Stop services | smtp-server"
  service:
    name: "{{ item }}"
    state: "stopped"
  with_items:
  - "cycloid-smtp_container"
  - "docker"
  - "docker.socket"
  failed_when: false

- name: "Remove packages | smtp-server"
  package:
    name:
    - "docker*"
    state: "absent"
  failed_when: false
  when: "setup_packages"

- name: "Remove files | smtp-server"
  file:
    path: "{{ item }}"
    state: "absent"
  with_items:
  - "{{ cycloid_smtp_path }}"
  - "{{ cycloid_install_path }}"
  - "/etc/systemd/system/cycloid-smtp.service"
  - "/etc/default/cycloid-smtp"
  - "/etc/systemd/system/docker.service"
  - "/var/lib/docker"
  - "/opt/containerd"

- name: "Force systemd to reread configs | smtp-server"
  systemd:
    daemon_reload: true

- name: "systemctl reset-failed | smtp-server"
  shell: "systemctl reset-failed"
