#!/bin/bash
while true; do
      VAULT_KEYS=$(cat {{ vault_config_path }}/unseal_keys)
      # Only run if keys present
      # If no present, vault might not be initialized
      if [ -z "$VAULT_KEYS" ]
      then
        exit 0
      fi
      RC=$(curl -s -o /dev/null -w '%{http_code}' -k {{ vault_url }}/v1/cycloid?list=true)
      # expect 403 "{"errors":["permission denied"]}"
      if [ "$RC" -ne "403" ];  then
            for k in $VAULT_KEYS;do
              curl -k --request POST --data "{\"key\": \"${k}\"}" {{ vault_url }}/v1/sys/unseal;
            done
      else
            break;
      fi
      sleep 1;
done
