{{- if .Values.backend.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "backend.fullname" . }}
  labels:
    {{- include "cycloid.labels" . | nindent 4 }}
    {{- include "backend.selectorLabels" . | nindent 4 }}
    {{- with .Values.commonLabels }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.commonAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if not .Values.backend.autoscaling.enabled }}
  replicas: {{ .Values.backend.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "backend.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.backend.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "backend.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "backend.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.backend.podSecurityContext | nindent 8 }}

      initContainers:
        {{- if .Values.mysql.enabled }}
        - name: wait-for-mysql
          image: groundnuty/k8s-wait-for:v1.3
          imagePullPolicy: Always
          args:
            - "service"
            - "-lapp.kubernetes.io/instance=cycloid"
            - "-lapp.kubernetes.io/name=mysql"
            - "-lapp.kubernetes.io/component=primary"
        {{- end }}
        - name: migrations
          securityContext:
            {{- toYaml .Values.backend.securityContext | nindent 12 }}
          image: "{{ .Values.backend.image.repository }}:{{ .Values.backend.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.backend.image.pullPolicy }}
          args:
            - "/go/youdeploy-http-api"
            - "version"
          resources:
            {{- toYaml .Values.backend.resources | nindent 12 }}
          env:
            - name: "RUN_MIGRATIONS"
              value: "1"

            - name: "YOUDEPLOY_MYSQL_SERVICE_HOST"
              value: {{ include "cycloid.mysqlHost" . | quote }}
            - name: "YOUDEPLOY_MYSQL_SERVICE_PORT"
              value: {{ include "cycloid.mysqlPort" . | quote }}
            - name: "MYSQL_DATABASE"
              value: {{ include "cycloid.mysqlDatabase" . | quote }}
            - name: "MYSQL_USER"
              value: {{ include "cycloid.mysqlUser" . | quote }}
            - name: "MYSQL_PASSWORD"
              valueFrom:
                secretKeyRef:
                  name: {{ template "cycloid.mysqlSecretName" . }}
                  key: mysql-password

            - name: "REDIS_HOST"
              value: {{ include "cycloid.redisHost" . | quote }}
            - name: "REDIS_PORT"
              value: {{ include "cycloid.redisPort" . | quote }}
            - name: "REDIS_DB"
              value: {{ include "cycloid.redisDatabase" . | quote }}
            - name: "REDIS_PASSWORD"
              valueFrom:
                secretKeyRef:
                  name: {{ template "cycloid.redisSecretName" . }}
                  key: redis-password
                  optional: true
            - name: "REDIS_URI"
              value: {{ include "cycloid.redisUri" . | quote }}

            {{- if .Values.externalElasticsearch.enabled }}
            - name: "COST_EXPLORER_ES_URL"
              value: {{ include "cycloid.elasticsearchURL" . | quote }}
            - name: "COST_EXPLORER_ES_USERNAME"
              value: {{ include "cycloid.elasticsearchUser" . | quote }}
            - name: "COST_EXPLORER_ES_PASSWORD"
              valueFrom:
                secretKeyRef:
                  name: {{ template "cycloid.elasticsearchSecretName" . }}
                  key: {{ template "cycloid.elasticsearchSecretKey" . }}
            {{- end }}

            - name: "CONCOURSE_URL"
              value: {{ .Values.backend.concourse.url | quote }}
            - name: "CONCOURSE_PORT"
              value: {{ .Values.backend.concourse.port | quote }}
            - name: "CONCOURSE_TEAM"
              value: {{ .Values.backend.concourse.team | quote }}
            - name: "CONCOURSE_USER"
              value: {{ .Values.backend.concourse.user | quote }}
            - name: "CONCOURSE_PASSWORD"
              valueFrom:
                secretKeyRef:
                  name: {{ template "backend.backendSecretName" . }}
                  key: concourse-password

            - name: "VAULT_URL"
              value: {{ .Values.backend.vault.url | quote }}
            - name: "VAULT_ROLE_ID"
              valueFrom:
                secretKeyRef:
                  name: {{ template "backend.backendSecretName" . }}
                  key: vault-role-id
            - name: "VAULT_SECRET_ID"
              valueFrom:
                secretKeyRef:
                  name: {{ template "backend.backendSecretName" . }}
                  key: vault-secret-id

            - name: "FRONTEND_BASE_URL"
              value: {{ .Values.frontend.url | quote }}
            - name: "BACKEND_BASE_URL"
              value: {{ .Values.backend.url | quote }}
            - name: "CRYPTO_SIGNING_KEY"
              valueFrom:
                secretKeyRef:
                  name: {{ template "backend.backendSecretName" . }}
                  key: crypto-signing-key
            - name: "JWT_KEY_1"
              valueFrom:
                secretKeyRef:
                  name: {{ template "backend.backendSecretName" . }}
                  key: jwt-key-1
            {{- include "cycloid.extraEnvVars" .Values.backend | nindent 12 }}
            {{- include "cycloid.extraSecretEnvVars" .Values.backend | nindent 12 }}
            {{- include "cycloid.extraConfigMapEnvVars" .Values.backend | nindent 12 }}
          {{- if or .Values.backend.extraEnvVarsCM .Values.backend.extraEnvVarsSecret }}
          envFrom:
            {{- if .Values.backend.extraFullConfigMapEnvVars }}
            - configMapRef:
                name: {{ .Values.backend.extraFullConfigMapEnvVars }}
            {{- end }}
            {{- if .Values.backend.extraFullSecretEnvVars }}
            - secretRef:
                name: {{ .Values.backend.extraFullSecretEnvVars }}
            {{- end }}
          {{- end }}
          {{ template "backend.mounts" . }}

      containers:
        - name: api
          securityContext:
            {{- toYaml .Values.backend.securityContext | nindent 12 }}
          image: "{{ .Values.backend.image.repository }}:{{ .Values.backend.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.backend.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 3001
              protocol: TCP
          startupProbe:
            httpGet:
              path: /status
              port: http
            initialDelaySeconds: 0
            periodSeconds: 30
            timeoutSeconds: 1
            successThreshold: 1
            failureThreshold: 10
          livenessProbe:
            httpGet:
              path: /status
              port: http
            initialDelaySeconds: 0
            periodSeconds: 10
            timeoutSeconds: 1
            successThreshold: 1
            failureThreshold: 3
          # readinessProbe:
          #   httpGet:
          #     path: /
          #     port: http
          #   initialDelaySeconds: 0
          #   periodSeconds: 10
          #   timeoutSeconds: 1
          #   successThreshold: 1
          #   failureThreshold: 3
          resources:
            {{- toYaml .Values.backend.resources | nindent 12 }}
          env:
            - name: "RUN_MIGRATIONS"
              value: "1"

            - name: "YOUDEPLOY_MYSQL_SERVICE_HOST"
              value: {{ include "cycloid.mysqlHost" . | quote }}
            - name: "YOUDEPLOY_MYSQL_SERVICE_PORT"
              value: {{ include "cycloid.mysqlPort" . | quote }}
            - name: "MYSQL_DATABASE"
              value: {{ include "cycloid.mysqlDatabase" . | quote }}
            - name: "MYSQL_USER"
              value: {{ include "cycloid.mysqlUser" . | quote }}
            - name: "MYSQL_PASSWORD"
              valueFrom:
                secretKeyRef:
                  name: {{ template "cycloid.mysqlSecretName" . }}
                  key: mysql-password

            - name: "REDIS_HOST"
              value: {{ include "cycloid.redisHost" . | quote }}
            - name: "REDIS_PORT"
              value: {{ include "cycloid.redisPort" . | quote }}
            - name: "REDIS_DB"
              value: {{ include "cycloid.redisDatabase" . | quote }}
            - name: "REDIS_PASSWORD"
              valueFrom:
                secretKeyRef:
                  name: {{ template "cycloid.redisSecretName" . }}
                  key: redis-password
                  optional: true
            - name: "REDIS_URI"
              value: {{ include "cycloid.redisUri" . | quote }}

            {{- if .Values.externalElasticsearch.enabled }}
            - name: "COST_EXPLORER_ES_URL"
              value: {{ include "cycloid.elasticsearchURL" . | quote }}
            - name: "COST_EXPLORER_ES_USERNAME"
              value: {{ include "cycloid.elasticsearchUser" . | quote }}
            - name: "COST_EXPLORER_ES_PASSWORD"
              valueFrom:
                secretKeyRef:
                  name: {{ template "cycloid.elasticsearchSecretName" . }}
                  key: {{ template "cycloid.elasticsearchSecretKey" . }}
            {{- end }}

            - name: "CONCOURSE_URL"
              value: {{ .Values.backend.concourse.url | quote }}
            - name: "CONCOURSE_PORT"
              value: {{ .Values.backend.concourse.port | quote }}
            - name: "CONCOURSE_TEAM"
              value: {{ .Values.backend.concourse.team | quote }}
            - name: "CONCOURSE_USER"
              value: {{ .Values.backend.concourse.user | quote }}
            - name: "CONCOURSE_PASSWORD"
              valueFrom:
                secretKeyRef:
                  name: {{ template "backend.backendSecretName" . }}
                  key: concourse-password

            - name: "VAULT_URL"
              value: {{ .Values.backend.vault.url | quote }}
            - name: "VAULT_ROLE_ID"
              valueFrom:
                secretKeyRef:
                  name: {{ template "backend.backendSecretName" . }}
                  key: vault-role-id
            - name: "VAULT_SECRET_ID"
              valueFrom:
                secretKeyRef:
                  name: {{ template "backend.backendSecretName" . }}
                  key: vault-secret-id

            - name: "FRONTEND_BASE_URL"
              value: {{ .Values.frontend.url | quote }}
            - name: "BACKEND_BASE_URL"
              value: {{ .Values.backend.url | quote }}
            - name: "CRYPTO_SIGNING_KEY"
              valueFrom:
                secretKeyRef:
                  name: {{ template "backend.backendSecretName" . }}
                  key: crypto-signing-key
            - name: "JWT_KEY_1"
              valueFrom:
                secretKeyRef:
                  name: {{ template "backend.backendSecretName" . }}
                  key: jwt-key-1
            {{- include "cycloid.extraEnvVars" .Values.backend | nindent 12 }}
            {{- include "cycloid.extraSecretEnvVars" .Values.backend | nindent 12 }}
            {{- include "cycloid.extraConfigMapEnvVars" .Values.backend | nindent 12 }}
          {{- if or .Values.backend.extraEnvVarsCM .Values.backend.extraEnvVarsSecret }}
          envFrom:
            {{- if .Values.backend.extraFullConfigMapEnvVars }}
            - configMapRef:
                name: {{ .Values.backend.extraFullConfigMapEnvVars }}
            {{- end }}
            {{- if .Values.backend.extraFullSecretEnvVars }}
            - secretRef:
                name: {{ .Values.backend.extraFullSecretEnvVars }}
            {{- end }}
          {{- end }}
          {{ template "backend.mounts" . }}
      {{ template "backend.volumes" . }}
      {{ template "backend.affinity" . }}
      {{ template "backend.tolerations" . }}
      {{ template "backend.nodeselector" . }}
{{- end }}
