{{- if .Values.backend.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "backend.backendSecretName" . }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "cycloid.labels" . | nindent 4 }}
    {{- include "backend.selectorLabels" . | nindent 4 }}
    {{- with .Values.commonLabels }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.commonAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
type: Opaque
data:
  vault-role-id: {{ .Values.backend.vault.roleId | b64enc | quote }}
  vault-secret-id: {{ .Values.backend.vault.secretId | b64enc | quote }}
  concourse-password: {{ .Values.backend.concourse.password | b64enc | quote }}
  crypto-signing-key: {{ randAlphaNum 32 | b64enc | quote }}
  jwt-key-1: {{ .Values.backend.jwtKey1 | b64enc | quote }}
{{- end }}
