{{- if and (and .Values.backend.enabled .Values.externalElasticsearch.enabled) (not .Values.externalElasticsearch.existingSecret) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ printf "%s-externalelasticsearch" (include "cycloid.name" .) | trunc 63 | trimSuffix "-" }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "cycloid.labels" . | nindent 4 }}
    {{- with .Values.commonLabels }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.commonAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
type: Opaque
data:
  elasticsearch-password: {{ .Values.externalElasticsearch.password | b64enc | quote }}
{{- end }}
