{{- if not (or .Values.mysql.enabled .Values.externalMysql.existingSecret .Values.backend.enabled) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ printf "%s-externalmysql" (include "backend.fullname" .) | trunc 63 | trimSuffix "-" }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "cycloid.labels" . | nindent 4 }}
    {{- with .Values.commonLabels }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.commonAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
type: Opaque
data:
  mysql-password: {{ .Values.externalMysql.password | b64enc | quote }}
{{- end }}
