---
# random configuration
cluster.name: "docker-cluster"
network.host: 0.0.0.0
discovery.type: "single-node"
node.name: "{{ node_name | default('cycloid-elasticsearch') }}"

# enable authentication
xpack.security.enabled: true

# enable TLS
xpack.security.http.ssl.enabled: true
xpack.security.http.ssl.certificate: "{{ cert_path | default('/usr/share/elasticsearch/config/ssl.crt') }}"
xpack.security.http.ssl.key: "{{ key_path | default('/usr/share/elasticsearch/config/ssl.key') }}"


