---
- name: Converge
  hosts: cycloid
  become: yes

  tasks:
  - name: Stop services
    service:
      name: "{{ item }}"
      state: stopped
    with_items:
      - concourse-web
      - concourse-db
      - cycloid-api
      - cycloid-db
      - cycloid-frontend
      - cycloid-redis
      - cycloid-smtp
      - nginx
      - vault
      - docker
      - minio
    failed_when: false

  - name: Remove packages
    package:
      name: "{{ item }}"
      state: absent
    with_items:
      - docker*
      - nginx*

  - name: Remove files
    file:
      path: "{{ item }}"
      state: absent
    with_items:
      - /opt/cycloid/cycloid-smtp
      - /etc/systemd/system/cycloid-api_container.service
      - /etc/systemd/system/cycloid-db_container.service
      - /etc/systemd/system/cycloid-frontend_container.service
      - /etc/systemd/system/cycloid-redis_container.service
      - /etc/systemd/system/cycloid-smtp_container.service
      - /etc/systemd/system/concourse-db_container.service
      - /etc/systemd/system/concourse-web_container.service
      - /etc/systemd/system/vault_container.service
      - /etc/systemd/system/nginx.service
      - /etc/systemd/system/docker.service
      - /etc/systemd/system/minio.service
      - /opt/containerd
      - /opt/cycloid

  - name: Force systemd to reread configs
    systemd:
      daemon_reload: yes

  - name: systemctl reset-failed
    shell: systemctl reset-failed
