---

- name: Uninstall cycloid
  hosts: all:!concourse-worker

  vars:
    setup_cycloid_core: "{{ 'cycloid-core' in group_names }}"
    setup_cycloid_scheduler: "{{ 'cycloid-scheduler' in group_names }}"
    setup_cycloid_db: "{{ 'cycloid-db' in group_names }}"
    setup_cycloid_redis: "{{ 'cycloid-redis' in group_names }}"
    setup_scheduler_db: "{{ 'cycloid-scheduler-db' in group_names }}"
    setup_cycloid_creds: "{{ 'cycloid-creds' in group_names }}"
    setup_minio: "{{ 'minio' in group_names }}"
    setup_smtp_server: "{{ 'smtp-server' in group_names }}"

  tasks:
  - name: Stop services cycloid_creds
    service:
      name: "{{ item }}"
      state: stopped
    with_items:
      - vault
      - docker
    failed_when: false
    when: setup_cycloid_creds

  - name: Stop services cycloid_db
    service:
      name: "{{ item }}"
      state: stopped
    with_items:
      - cycloid-db
      - docker
    failed_when: false
    when: setup_cycloid_db

  - name: Stop services smtp_server
    service:
      name: "{{ item }}"
      state: stopped
    with_items:
      - cycloid-smtp
      - docker
    failed_when: false
    when: setup_smtp_server

  - name: Stop services cycloid_redis
    service:
      name: "{{ item }}"
      state: stopped
    with_items:
      - cycloid-redis
      - docker
    failed_when: false
    when: setup_cycloid_redis

  - name: Stop services scheduler_db
    service:
      name: "{{ item }}"
      state: stopped
    with_items:
      - concourse-db
      - docker
    failed_when: false
    when: setup_scheduler_db

  - name: Stop services cycloid_scheduler
    service:
      name: "{{ item }}"
      state: stopped
    with_items:
      - concourse-web
      - docker
    failed_when: false
    when: setup_cycloid_scheduler

  - name: Stop services cycloid_core
    service:
      name: "{{ item }}"
      state: stopped
    with_items:
      - cycloid-api
      - cycloid-frontend
      - nginx
      - docker
    failed_when: false
    when: setup_cycloid_core

  - name: Stop services minio
    service:
      name: "{{ item }}"
      state: stopped
    with_items:
      - minio
      - docker
    failed_when: false
    when: setup_minio

  - name: Remove packages
    package:
      name: "{{ item }}"
      state: absent
    with_items:
      - docker*
      - nginx*

  - name: Remove packages
    package:
      name: "{{ item }}"
      state: absent
    with_items:
      - nginx*
    when: setup_cycloid_core

  - name: Remove files cycloid_creds
    file:
      path: "{{ item }}"
      state: absent
    with_items:
      - /etc/systemd/system/vault_container.service
      - /etc/systemd/system/docker.service
      - /opt/containerd
      - /opt/cycloid
    when: setup_cycloid_creds

  - name: Remove files cycloid_db
    file:
      path: "{{ item }}"
      state: absent
    with_items:
      - /etc/systemd/system/cycloid-db_container.service
      - /etc/systemd/system/docker.service
      - /opt/containerd
      - /opt/cycloid
    when: setup_cycloid_db

  - name: Stop services smtp_server
    file:
      path: "{{ item }}"
      state: absent
    with_items:
      - /opt/cycloid/cycloid-smtp
      - /etc/systemd/system/docker.service
      - /opt/containerd
      - /opt/cycloid
    when: setup_smtp_server

  - name: Remove files cycloid_redis
    file:
      path: "{{ item }}"
      state: absent
    with_items:
      - /etc/systemd/system/cycloid-redis_container.service
      - /etc/systemd/system/docker.service
      - /opt/containerd
      - /opt/cycloid
    when: setup_cycloid_redis

  - name: Remove files scheduler_db
    file:
      path: "{{ item }}"
      state: absent
    with_items:
      - /etc/systemd/system/concourse-db_container.service
      - /etc/systemd/system/docker.service
      - /opt/containerd
      - /opt/cycloid
    when: setup_scheduler_db

  - name: Remove files cycloid_scheduler
    file:
      path: "{{ item }}"
      state: absent
    with_items:
      - /etc/systemd/system/concourse-web_container.service
      - /etc/systemd/system/nginx.service
      - /opt/containerd
      - /opt/cycloid
    when: setup_cycloid_scheduler

  - name: Remove files cycloid_core
    file:
      path: "{{ item }}"
      state: absent
    with_items:
      - /etc/systemd/system/cycloid-api_container.service
      - /etc/systemd/system/cycloid-frontend_container.service
      - /etc/systemd/system/nginx.service
      - /etc/systemd/system/docker.service
      - /opt/containerd
      - /opt/cycloid
    when: setup_cycloid_core

  - name: Remove files minio
    file:
      path: "{{ item }}"
      state: absent
    with_items:
      - /etc/systemd/system/docker.service
      - /etc/systemd/system/minio.service
      - /opt/containerd
      - /opt/cycloid
    when: setup_minio

  - name: Force systemd to reread configs
    systemd:
      daemon_reload: yes

  - name: systemctl reset-failed
    shell: systemctl reset-failed
