server {
    listen       443 ssl;
    server_name  "{{ cycloid_console_dns }}";
    client_max_body_size 20M;

    {% if cycloid_nginx_ssl_protocols is defined and cycloid_nginx_ssl_protocols|length %}
    ssl_protocols {{ cycloid_nginx_ssl_protocols }};
    {% endif %}

    #access_log /var/log/nginx/cycloid-console-access.log;
    #error_log  /var/log/nginx/cycloid-console-error.log;

    ssl_certificate     /etc/nginx/ssl/ssl.crt;
    ssl_certificate_key /etc/nginx/ssl/ssl.key;

    location / {
      proxy_pass       {{ cycloid_nginx_console_proxy_pass }};
      proxy_set_header X-FORWARDED_PROTO https;
      proxy_set_header X-FORWARDED_PORT 443;
    }

    location /api/ {
      proxy_pass                {{ cycloid_nginx_api_proxy_pass }}/;
      proxy_set_header          X-FORWARDED_PROTO https;
      proxy_set_header          X-FORWARDED_PORT 443;
      proxy_connect_timeout     360s;
      proxy_send_timeout        360s;
      proxy_read_timeout        360s;
    }
}
