######################
### Onprem Section ###
######################

# provided by terraform
#cycloid_console_dns: ""

cycloid_initial_organization_name: Cycloid

# provided by the pipeline
#cycloid_licence:

saml_auth_enabled: false
saml_idp_metadata_url: ""

cycloid_public_stacks: true
ca_certificates_container_shared: true
cycloid_admin_apikey: true

cycloid_db_image: mysql:8.0.35

## workaround variables to solve stackform limitation
cycloid_api_repo: 661913936052.dkr.ecr.eu-west-1.amazonaws.com/youdeploy-http-api
cycloid_frontend_repo: 661913936052.dkr.ecr.eu-west-1.amazonaws.com/youdeploy-frontend

cycloid_api_tag: $BACKEND_IMAGE_TAG
cycloid_frontend_tag: $FRONTEND_IMAGE_TAG
#####
cycloid_api_image: "{{cycloid_api_repo}}:{{cycloid_api_tag}}"
cycloid_frontend_image: "{{cycloid_frontend_repo}}:{{cycloid_frontend_tag}}"

# asynqmon is used to debug redis worker queue. Set true to install it
cycloid_cache_mon_install: true

# Cost-Explorer: Elasticsearch

# Use local ES
# cost_explorer_es_url: ""
# cost_explorer_es_username: ""
# cost_explorer_es_password: ""
# cost_explorer_es_insecure_skip_tls: ""
# cost_explorer_es_ca_cert: ""

######################
### Worker Section ###
######################
# Cycloid workers section
concourse_worker: yes
concourse_worker_name: "$(hostname)"
concourse_service_enabled: no
concourse_worker_env: {}
concourse_worker_runtime: "containerd"

# define it as block due to https://github.com/cycloidio/youdeploy-http-api/issues/2935
concourse_worker_options: "--ephemeral --baggageclaim-log-level=error --baggageclaim-volumes={{ concourse_work_dir }}/baggageclaim_volumes --baggageclaim-driver=overlay 2>&1 | tee -a /var/log/concourse-worker.log ; exit ${PIPESTATUS[0]}"

concourse_install_dir: /var/lib/concourse
concourse_work_dir: /var/lib/concourse/datas

concourse_version: "{{ concourse_web_image.split(':').1 }}"
concourse_tsa_port: "2222"
concourse_tsa_host: "{{ groups['cycloid_scheduler'][0] }}"
concourse_tsa_public_key: "{{lookup('file', 'keys/id_rsa.pub')}}"
concourse_tsa_worker_key: "{{lookup('file', 'keys/id_rsa')}}"
