[Unit]
Description="{{ service }} Job service execution"

[Timer]
OnCalendar={{ schedule }}
#Execute job if it missed a run due to machine being off
Persistent=true
#File describing job to execute
Unit={{ service }}.service

[Install]
WantedBy=timers.target
