# Common values for cycloid.
# This is a YAML-formatted file.

#
# Cycloid Console frontend
#
frontend:
  # The externally accessible FQDN for the Cycloid Console frontend.
  # If you change this value, don't to also update the ingress declaration below.
  url: "http://console.cycloid.local"
  replicaCount: 1

  image:
    # Cycloid Console frontend version to use.
    # Overrides the image tag whose default is the chart appVersion.
    tag: "latest-public"

  ingress:
    className: "nginx"
    annotations: {}
      # kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"
    hosts:
      - host: console.cycloid.local
        paths:
          - path: /
            pathType: ImplementationSpecific
    tls: []
    #  - secretName: cycloid-local-tls
    #    hosts:
    #      - console.cycloid.local


#
# Cycloid Console API
#
backend:
  # The externally accessible FQDN for the Cycloid Console API.
  # If you change this value, don't to also update the ingress declaration below.
  url: "http://api.cycloid.local"
  replicaCount: 1

  image:
    # Cycloid Console API version to use.
    # Overrides the image tag whose default is the chart appVersion.
    tag: "latest-public"

  # Concourse server to be used by the Cycloid Console API.
  # Defaults to the included one within the chart, but you also use a custom one if needed.
  concourse:
    # We recommend changing this default value, but don't forget to update the matching password
    # in the concourse section below.
    password: "jeiVahChaipheigai8ohkuc0"

  # Vault server to be used by the Cycloid Console API.
  # Defaults to the included one within the chart, but you also use a custom one if needed.
  vault:
    # These value have to be changed as explained in the installation documentation.
    roleId: "##cycloid-vault-approle-role-id##"
    secretId: "##cycloid-vault-approle-secret-id##"

  cryptoSigningKey: totally-random-secret-key
  jwtKey1: "2f2122de-63f2-4eec-9c6f-c6abb3e1f007:7cdyHps2tYDp6e7VKPEstE5sDMQbK6WLyN3GmTsF7x7QpE6ZP5ra6yfVSkvXakbB"

  # extraEnvVars is a list of extra environment variables to set.
  extraEnvVars:
    EMAIL_SMTP_SVR_ADDR: "##smtp-host:smtp-port##"
    EMAIL_SMTP_USERNAME: "##smtp-username##"
    EMAIL_SMTP_PASSWORD: "##smtp-password##"
    EMAIL_ADDR_FROM: "Cycloid Console <noreply@domain.tld>"
    EMAIL_ADDR_RETURN_PATH: "admin@domain.tld"
    LOG_LEVEL: "INFO"
    LOG_SVC_LEVEL: "NONE"

  ingress:
    className: "nginx"
    hosts:
      - host: api.cycloid.local
        paths:
          - path: /
            pathType: ImplementationSpecific
    tls: []
    #  - secretName: cycloid-local-tls
    #    hosts:
    #      - api.cycloid.local


#
# MySQL
#
# Configuration values for the mysql dependency.
# Ref: https://github.com/bitnami/charts/tree/master/bitnami/mysql
#
mysql:
  ## Set to false if bringing your own MySQL, and set the corresponding `secrets`
  ## fields that correspond to the PostgreSQL variables that `concourse web` should use
  ## to connect to.
  ##
  enabled: true

  ## MySQL Authentication parameters
  ## @param mysql.auth.rootPassword MySQL root password
  ## @param mysql.auth.database MySQL custom database
  ## @param mysql.auth.username MySQL custom user name
  ## @param mysql.auth.password MySQL custom user password
  ## ref: https://github.com/bitnami/bitnami-docker-mysql#setting-the-root-password-on-first-run
  ##      https://github.com/bitnami/bitnami-docker-mysql/blob/master/README.md#creating-a-database-on-first-run
  ##      https://github.com/bitnami/bitnami-docker-mysql/blob/master/README.md#creating-a-database-user-on-first-run
  auth:
    rootPassword: "Ti3eitheeyoo9AhieQu5chae"
    database: cycloid
    username: cycloid
    password: "xeemohCahh1AezahcapheeP7"

  ## MySQL Primary configuration
  ##
  primary:
    # MySQL Primary Persistence parameters
    # ref: https://kubernetes.io/docs/concepts/storage/persistent-volumes/
    # Used to provide storage that persists beyond the lifecycle of individual pods.
    # A Persistent Volume retains data even if the pod is removed.
    # @param mysql.primary.persistence.enabled Enable persistence on MySQL using PVC(s)
    # @param mysql.primary.persistence.storageClass Persistent Volume storage class. This Should be specified if no default StorageClass defined in your cluster.
    # @param mysql.primary.persistence.accessModes [array] Persistent Volume access modes
    # @param mysql.primary.persistence.size Persistent Volume size
    #
    persistence:
      storageClass: ""
      size: 8Gi

#
# External MySQL Configuration
# All of these values are only used if `mysql.enabled=false`
#
externalMysql:
  # External MySQL server host
  host: localhost
  # External MySQL server port
  port: 3306
  # External MySQL username
  user: cycloid
  # External MySQL user password
  password: ""
  #External MySQL database name
  database: cycloid

#
# Redis
#
# Configuration values for the redis dependency.
# Ref: https://github.com/bitnami/charts/tree/master/bitnami/redis
#
redis:
  ## Use the Redis chart dependency.
  ##
  ## Set to false if bringing your own MySQL, and set the corresponding `secrets`
  ## fields that correspond to the PostgreSQL variables that `concourse web` should use
  ## to connect to.
  ##
  enabled: true

  ## Redis Authentication parameters
  ## ref: https://github.com/bitnami/charts/tree/main/bitnami/redis#redis-common-configuration-parameters
  ##
  auth:
    ## @param auth.password Redis password
    ## Defaults to a random 10-character alphanumeric string if not set
    ##
    password: "ociaseij9so2ooThiut0dug7"
  master:
    persistence:
      enabled: true
      storageClass: ""
      size: 8Gi

#
# External Redis Configuration
# All of these values are only used if `redis.enabled=false`
#
externalRedis:
  enabled: false
  #External Redis server host
  host: localhost
  #External Redis server port
  port: 6379
  #External Redis server database
  database: "0"
  #External Redis password
  password: ""
  #Enable user authentification
  auth:
    enabled: false
    username: "default"
    password: ""
  # If enabled, use rediss schema
  tls:
    enabled: false


#
# Concourse
#
# Configuration values for the concourse dependency.
# Ref: https://github.com/concourse/concourse-chart
concourse:
  ## Configuration values for the Concourse application (worker and web components).
  ## The values specified here are almost direct references to the flags under the
  ## `concourse web` and `concourse worker` commands.
  concourse:
    web:
      ## Need to be specified if bringing your own PostgreSQL.
      ## Configurations regarding how the web component is able to connect to a postgres instance.
      postgres:
        host:
        port: 5432
        database: atc
        ## user/password defined under secrets section

  web:
    sidecarContainers:
      - name: concourse-team-authorized-key-sync
        image: cycloid/concourse-team-authorized-key-sync:latest
        imagePullPolicy: Always
        env:
          - name: VAULT_URL
            value: http://cycloid-vault:8200
          - name: VAULT_ROLE_ID
            value: "##cycloid-ro-vault-approle-role-id##"
          - name: VAULT_SECRET_ID
            value: "##cycloid-ro-vault-approle-secret-id##"
          - name: YAML_KEYS_FILE
            value: /etc/concourse-teams/tsa-team-authorized-keys.yaml
          - name: VERBOSE
            value: "True"
        volumeMounts:
          - mountPath: /etc/concourse-teams
            name: concourse-teams

  postgresql:
    ## Use the PostgreSQL chart dependency.
    ##
    ## Set to false if bringing your own PostgreSQL, and set the corresponding `secrets`
    ## fields that correspond to the PostgreSQL variables that `concourse web` should use
    ## to connect to.
    enabled: true
    auth:
      ### PostgreSQL User to create.
      username: concourse
      ## PostgreSQL Password for the new user.
      ## If not set, a random 10 characters password will be used.
      password: "ori9aigee0phivooX1jei1Ee"
      # Password for the "postgres" admin user
      postgresPassword: "ori9aigee0phivooX1jei1Ee"
      ## PostgreSQL Database to create.
      database: atc

    ## Persistent Volume Storage configuration for PostgreSQL.
    ##
    ## Ref: https://kubernetes.io/docs/user-guide/persistent-volumes
    persistence:
      ## Enable PostgreSQL persistence using Persistent Volume Claims.
      enabled: true
      ## Persistent Volume Storage Class to be used by PersistentVolumes created
      ## for PostgreSQL.
      ##
      ## If defined, storageClassName: <storageClass>
      ## If set to "-", storageClassName: "", which disables dynamic provisioning
      ## If undefined (the default) or set to null, no storageClassName spec is
      ##   set, choosing the default provisioner.  (gp2 on AWS, standard on
      ##   GKE, AWS & OpenStack)
      storageClass:
      size: 8Gi

  secrets:
    ## User/Pass need to be specified if bringing your own PostgreSQL.
    postgresUser:
    postgresPassword: "pha7soh9eiQu3igeiKaechooche6to3u"

    ## List of `username:password` or `username:bcrypted_password` combinations for all your local concourse users.
    ## For details of expected format, see https://concourse-ci.org/local-auth.html
    localUsers: "cycloid:jeiVahChaipheigai8ohkuc0"

    ## Concourse Host Keys.
    ## Ref: https://concourse-ci.org/install.html#generating-keys
    hostKey: |-
      -----BEGIN RSA PRIVATE KEY-----
      MIIEogIBAAKCAQEA2AUPXxuiDC/qrBWjIdT5fvNcMlMEYpR3X4SLQIgLC1ULDsCO
      fleKZ+Wi4RzwbkUKiKmJm5GeyNVVCDdfvdD1Sd1+5faqmp2/OQBzLS7o8NY/btMw
      8h9lx4KVJaJJ1EM1EiyGY41Nx591KP14pBfr0/NdOIrDu2JvF6e7CHEbrzkN57kb
      BVQkaIMaS01Rw/5Oe68GFalli2ii8L8dNWVVzquBh5PwVWimvTgwv3TYG2TH8L1V
      V7n+/zRRpkjMl2+PUouGqD+Bp+4wF+hp4AW5v24CqjtLJEMv4IEJv2FRfrOauBIZ
      XjAS1SSg9VaTOS3iwxaYrv8uG1XfMFHICvkEPQIDAQABAoIBAG87W8jrX6vK2Jm3
      ooJ/OeFmymiXWsCwFi+2/kVCR/2T0tfLyxO/W+NX2WD1F9CP+HaaZeMXPp3HS7up
      V8FT4ZohVYBwXTS0WYyucKApcYThrVQRpzhldnEfClGQmVeVK7Sp/KEyV4Sc1SVA
      L2i/cI142N2Ohm7spquVkLcuFsVINzZ0fXCv25dTqbkEgjTJzNdBzyFXvc4z0Mt9
      gW14M7mz+YKYOfsCxIEm438fC9b16C96yIFBdN+/jaP8pmb2RoIE2D0F8bj5K1hR
      YyGFKMOU4e6cYq59iWfubKuu2WNJEBk/5aO7x7Xu2S0k8wIYlwxFuu4LfR2Kvizu
      +mFVf3kCgYEA9e0+40tJGpOPM8hAB3DwXjYc8lCuyYf3z30T3RqVNCUVSWnlaj/s
      3ENi6+Ng3u+Zs8cR2CFou+jAClTyWLuSnI9yACD0eyW9n4bzYMUbgdC6vneLjpzx
      wWR9Xv5RmZVly7xWuqcgEeEf8RNcYI3oXby0laF3EObvuAx/4ETIkFcCgYEA4N42
      w1UEWGopWBIIXYHkEPHQuF0SxR2CZyh9ExTeSxFphyibkcHRjDW+t91ZLnSm5k1N
      TOdYuc0ApBV3U+TexeFvDI94L/Oze6Ht5MatRQz8kRwMFGJL3TrpbgTmWdfG05Ad
      oiScJzwY16oJXnKusxik7V+gCCNNE0/2UuMnY4sCgYAEf82pvOPef5qcGOrK+A79
      ukG3UTCRcVJgUmp9nhHivVbxW+WdlwPPV9BEfol0KrAGMPsrmBjhbzWsOregVfYt
      tRYh2HiAlEUu2Po06AZDzrzL5UYBWu+1WRBOH5sAk1IkcxKnIY2dph++elszTQVW
      SbCIGEckYQU7ucbRJJECywKBgBb4vHFx8vKxTa3wkagzx7+vZFohL/SxEgxFx5k2
      bYsPqU8kZ9gZC7YeG3CfDShAxHgMd5QeoiLA/YrFop4QaG2gnP6UfXuwkqpTnYDc
      hwDh1b9hNR6z9/oOtaAGoh2VfHtKYqyYvtcHPaZyeWiLoKstHlQdi7SpHouVhJ1t
      FS4HAoGAGy+56+zvdROjJy9A2Mn/4BvWrsu4RSQILBJ6Hb4TpF46p2fn0rwqyhOj
      Occs+xkdEsI9w5phXzIEeOq2LqvWHDPxtdLpxOrrmx4AftAWdM8S1+OqTpzHihK1
      y1ZOrWfvON+XjWFFAEej/CpQZkNUkTzjTtSC0dnfAveZlasQHdI=
      -----END RSA PRIVATE KEY-----

    hostKeyPub: |-
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDYBQ9fG6IML+qsFaMh1Pl+81wyUwRilHdfhItAiAsLVQsOwI5+V4pn5aLhHPBuRQqIqYmbkZ7I1VUIN1+90PVJ3X7l9qqanb85AHMtLujw1j9u0zDyH2XHgpUloknUQzUSLIZjjU3Hn3Uo/XikF+vT8104isO7Ym8Xp7sIcRuvOQ3nuRsFVCRogxpLTVHD/k57rwYVqWWLaKLwvx01ZVXOq4GHk/BVaKa9ODC/dNgbZMfwvVVXuf7/NFGmSMyXb49Si4aoP4Gn7jAX6GngBbm/bgKqO0skQy/ggQm/YVF+s5q4EhleMBLVJKD1VpM5LeLDFpiu/y4bVd8wUcgK+QQ9 Concourse

    ## Concourse Session Signing Keys.
    ## Ref: https://concourse-ci.org/concourse-generate-key.html
    sessionSigningKey: |-
      -----BEGIN RSA PRIVATE KEY-----
      MIIEowIBAAKCAQEAwLql/rUIaI+PX7Tl3FWcTee4sQf8/daakALXx955tPwkhqlY
      e4T2V84p/ylFvNWpM4vfcMYKfMY0JLKgAgBvJhCytSkDBhTBoWmN6yE0AB11P9En
      lIZRBWNYqaC2cSge2ZD8qOSnwfFhnQAW8+7pE+ElJAVh7dtdF3A478H50lIigq8I
      zMWp2EGJpFC7/Uu36oIL/03MNGCmrH1jvtTuJiAMQUZYyL1ReBkvvHOzw9i4HXPy
      SMVtcllm4NBs2aVPtwhr2kwSkLt8t1bPdRn6OIyEAw5WktzAKaiZnkTvj6g3xzdp
      zKcrdlBr9aznlNvoSinBUfvtwyFmvFN1HHbA9wIDAQABAoIBAE7G/DrUfI9gvtX7
      90jMpYsigFe8UCjho2PiBZlo0o6r0bJJXiV+/8J8PqZRlHPPUc4EClzqVjcSPRYS
      /VxUGRqSELoD/Xxq14rGvn+xnrO9VsOzFl6bWFq/dOpBCtHN+G4t2VifvgKES8YE
      11z19sdta+UBXjn/RFnkQSGfRCI3QqTaYvjxevt0uWlyPmqkFPQQw8bvHIXzoB+B
      rzeiMa++nMvbX5pAH9XA0BvhyuH3fHidTUwiVBpkMcpLWtjP0A0JTsecDdbinDDq
      un2EIo8zMWRwKQN/JnUxsi8AUEigBTCUqeDgREXtW62uvFkSpcVMXwmVityLYIVy
      qnVLUCECgYEA6IwXkP1qnSfcNeoVI/ypDuz1/kdqcjSPhLYe+jdiLLoFkMW9AlDm
      lzwNaWlTFD9ygo+NjJCo63/A8HCm55sajws5hZ6r20vdZcKFMk9h0qF5oVA7lkQ2
      gvG2WaznuU7KkqhfP+pXhiLgZKoJkst/+g7r6uHpredwDY6hxeBK4vsCgYEA1CqH
      8ywC5qUo/36kQg/TU2adN/YEHdJAAbU23EVrGQSVmnXW08H2NLFk0tsxrwoNnbgp
      PIk2J7BimbJvbND17ibr4GAklDTsR8aJkDl+0JgNCAK9N07qVt1s7FXzhg95jUL9
      EQW55z60GAJpecqNwA4Jsa8P852N0355Obp92TUCgYBkOBvf7JcJ66fHxH4f6D+j
      oxPQ5k5Fsck4VJS9GSlCRVkor09ptBvsiYDuMOoRC9b51YwXTDDAbWplNOd5YSrt
      AtVjdKJz/BoKRO7KY9Owxs54au+DLxqfDDSeKRokjoRW+CE0lnXp5RX3zCAcF3+r
      8MpTi9D9lYSBEzs84BDmCQKBgQCMcH6/K3HcJJVn0fd+tyUGftUw9sswxjySJNbk
      pZrH263/qWMDls+Xf5kire9MU1ZCAWZiaN0NFoed/2wcVpGEDAV0548u/30r4bKr
      YjOcdhmiJNYFJ1qdF0MDib2CDvpB1IbZXrX46RujDO2urbJ435HxKNVhR/had8xc
      tyKYxQKBgCVDhN0MhnlUQJVZfX42APmF4gQg0r3sfL/NGXjEjMIKKFe5a88eZVHr
      L8x1+dp0q7czC8a/l1DUuiwDKl8OEpxLsGCq/J/wAfrSMPifu6EUlbUwlJOPdgha
      +p/KFAelHXJ2w/8yackAcarh35VP7ixhuvxswHNdgvfsBTFcjn30
      -----END RSA PRIVATE KEY-----

    ## Concourse Worker Keys.
    ## Ref: https://concourse-ci.org/concourse-generate-key.html
    workerKey: |-
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpAIBAAKCAQEAuPehUmBXAQCoA7TLAQCYhf+vzcZVyj+VGXnMhLHnWLk7dRjo
      CU8GgNamdS5h7G3ywxOvKA3YjOLr8XyOMLS4c+e8N7tIzlMWdiXhe0lcBH9Z1ai5
      +Bof3/BlDUBksiKdc1A+QcfX6tDwMkOO5re1H4vOK3H/Cype58wCB03HYNgb05ED
      fW1Bj2qvz29VtmyjwEMuDs100iMqwCfPUx9oxXmmX8sUBRmw/Y1Rx/8pdKIjKw3m
      kWIHHBOSCPimO1qC47Aa8v/UH9hERCykyuFHiBiKlnIvZWm9bYvhsRTz4gt5KzRY
      6OI0oVeHlLOHDSK48Da8VWij15lOqO2Nx6WssQIDAQABAoIBADET22UNFOi6MNpS
      5S5N5ypezlnOD0NLnZcV3zMyNQ0wkNsgEakuo64Zxi7/cJIYFjq2hVoeWl//cdUw
      VFYODYcLbMBo3AeKukH9CRf6PgUfeUmcrENtQxnbIiTi+hTd5GMNXod7rAmtCJ59
      mHQVOGS3ZqvWYnKm+mmMktk3RPinynX/A4y3WHPacuAS58HM09Ck43WcHMxbGpsL
      /gZpICyFYZ2DviM+AHyWGcmw7LJrpC0QHo6+BAFMs4xlUecNgVIFUpfOoAcfsdtG
      K9j4AbuZ47iFisbay+1pyg/7O5eRTdGVQRtc7PBMOjea5jGsfmlDmdn1ZS50ykun
      ANfoQ5UCgYEA9Ak73PRy9nLlRkt4OBCF/4fwThUCMedsnWaVjQBMJYim4FB2ivF5
      cKdWt3y/RZI85KKYu0EXhLEoSIEAfz057R8t3QdVK4tZx6B47UFjBjCYeVMtwHDQ
      prxQiOPHIHCplBNFuGzA5VXL9gQLRD+ek0uOy2GJJ0Wu1xyeouI+SW8CgYEAwgkO
      TOtOogqmcAALjWgeeQiZetflSKbJlpQNhmCPAMm0SFI8eF4SpRXLzd41VC2mLIwT
      L3tjc7/8ocXoElFM4L0fo9Lx/SHFH4JEn5FT0PXPmvsF2JRhsXJFLJSihxF/91Xs
      2aBcQILPFzLcrI6OFUakNwGTU/CIxpkzRvQrG98CgYEAzNVnUuo4CNadzagRK3Xr
      E3Yl5VRK+FpY17FAfA6w25xc/dFr/un61e0Po4no/ltmEz7LVfmn5O/ScTEemq5o
      jbjrBShfe+JGpIH0nqiQlqR5hvSjZXEMIbfVHWGbRYZrQGgA0HEwZA7k2QXB8zI3
      R0lXfSzMM5OQ0uwp12xxfa8CgYBHILq1R6zTicPpWprhg0FobNaWSX4rW7iaEjvC
      /rJtP4Nu33Z7SUDcc1j6ZnJ2ISXBPrfpt/mE/OPHCZ1A2bysxadLjpBWkoKIQmCV
      fdiTyQgJb+t8sSf+vDzPUs0hZjDaogzo2ff3TfxMLMDoIHnFItgfsdwn8QyygIZj
      hC4pUQKBgQDqsxnkI6yXFE5gshnW7H8zqKNlzKd/dZEL6e+lRz4R3UY/KcEkRAfq
      Yi3cwo9fE3U3kSmpl5MQwUjWm/BZ7JyueoY/4ndwaFPgc34IKsgJ0wau9pZiQAB1
      DxpOSF+BR71Jx3sxvIdCODNTtm645j5yrZVnJAuMPofo5XFmunDoJA==
      -----END RSA PRIVATE KEY-----

    workerKeyPub: |-
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC496FSYFcBAKgDtMsBAJiF/6/NxlXKP5UZecyEsedYuTt1GOgJTwaA1qZ1LmHsbfLDE68oDdiM4uvxfI4wtLhz57w3u0jOUxZ2JeF7SVwEf1nVqLn4Gh/f8GUNQGSyIp1zUD5Bx9fq0PAyQ47mt7Ufi84rcf8LKl7nzAIHTcdg2BvTkQN9bUGPaq/Pb1W2bKPAQy4OzXTSIyrAJ89TH2jFeaZfyxQFGbD9jVHH/yl0oiMrDeaRYgccE5II+KY7WoLjsBry/9Qf2ERELKTK4UeIGIqWci9lab1ti+GxFPPiC3krNFjo4jShV4eUs4cNIrjwNrxVaKPXmU6o7Y3Hpayx Concourse

    ## vault authentication parameters
    ## Parameter to pass when logging in via the backend
    ## Required for "approle" authenication method
    ## e.g. "role_id:x,secret_id:x"
    ## Ref: https://concourse-ci.org/vault-credential-manager.html#vault-approle-auth
    ##
    vaultAuthParam: "role_id:##cycloid-ro-vault-approle-role-id##,secret_id:##cycloid-ro-vault-approle-secret-id##"

#
# Vault
#
# Configuration values for the vault dependency.
# Ref: https://github.com/hashicorp/vault-helm
#
vault:
  # Use the Vault chart dependency.
  server:
    # This configures the Vault Statefulset to create a PVC for data
    # storage when using the file or raft backend storage engines.
    # See https://www.vaultproject.io/docs/configuration/storage/index.html to know more
    dataStorage:
      enabled: true
      size: 10Gi
