# Common values for cycloid.
# This is a YAML-formatted file.

#
# Cycloid Console frontend
#
frontend:
  # The externally accessible FQDN for the Cycloid Console frontend.
  # If you change this value, don't to also update the ingress declaration below.
  url: "http://console.cycloid.local"
  # We recommend setting the replicaCount to 2 in production environments to ensure high availability (HA).
  replicaCount: 1

  image:
    # Cycloid Console frontend version to use.
    # Overrides the image tag whose default is the chart appVersion.
    tag: "latest-public"

  ingress:
    # Class name for the ingress controller. Example "nginx"
    className: ""
    hosts:
      - host: console.cycloid.local
        paths:
          - path: /
            pathType: ImplementationSpecific
    # Certificate configuration for the ingress.
    tls: []
    #  - secretName: cycloid-local-tls
    #    hosts:
    #      - console.cycloid.local


#
# Cycloid Console API
#
backend:
  # The externally accessible FQDN for the Cycloid Console API.
  # If you change this value, don't to also update the ingress declaration below.
  url: "http://api.cycloid.local"
  # We recommend setting the replicaCount to 2 in production environments to ensure high availability (HA).
  replicaCount: 1

  image:
    # Cycloid Console API version to use.
    # Overrides the image tag whose default is the chart appVersion.
    tag: "latest-public"

  ingress:
    # Class name for the ingress controller. Example "nginx"
    className: ""
    hosts:
      - host: api.cycloid.local
        paths:
          - path: /
            pathType: ImplementationSpecific
    tls: []
    #  - secretName: cycloid-local-tls
    #    hosts:
    #      - api.cycloid.local

  # extraEnvVars is a list of extra environment variables to set.
  extraEnvVars:
    EMAIL_SMTP_SVR_ADDR: "##smtp-host:smtp-port##"
    EMAIL_SMTP_USERNAME: "##smtp-username##"
    EMAIL_SMTP_PASSWORD: "##smtp-password##"
    EMAIL_ADDR_FROM: "Cycloid Console <noreply@domain.tld>"
    EMAIL_ADDR_RETURN_PATH: "admin@domain.tld"
    LOG_LEVEL: "INFO"
    LOG_SVC_LEVEL: "NONE"

  # Concourse server to be used by the Cycloid Console API.
  # Defaults to the included one within the chart, but you also use a custom one if needed.
  concourse:
    # We recommend changing this default value, but don't forget to update the matching password
    # in the concourse section below.
    password: "##concourse-password##"

  # Vault server to be used by the Cycloid Console API.
  # Defaults to the included one within the chart, but you also use a custom one if needed.
  vault:
    # These value have to be changed as explained in the installation documentation.
    roleId: "##cycloid-vault-approle-role-id##"
    secretId: "##cycloid-vault-approle-secret-id##"

  cryptoSigningKey: "##backend-cryptoSigningKey##"
  jwtKey1: "##backend-jwtKey1##"


#
# MySQL
#
# Configuration values for the mysql dependency.
# Ref: https://github.com/bitnami/charts/tree/master/bitnami/mysql
#
mysql:
  ## Set to false if bringing your own MySQL, and set the corresponding `secrets`
  ## fields that correspond to the PostgreSQL variables that `concourse web` should use
  ## to connect to.
  ##
  enabled: true

  ## MySQL Primary configuration
  ##
  primary:
    # MySQL Primary Persistence parameters
    # ref: https://kubernetes.io/docs/concepts/storage/persistent-volumes/
    # Used to provide storage that persists beyond the lifecycle of individual pods.
    # A Persistent Volume retains data even if the pod is removed.
    # @param mysql.primary.persistence.enabled Enable persistence on MySQL using PVC(s)
    # @param mysql.primary.persistence.storageClass Persistent Volume storage class. This Should be specified if no default StorageClass defined in your cluster.
    # @param mysql.primary.persistence.accessModes [array] Persistent Volume access modes
    # @param mysql.primary.persistence.size Persistent Volume size
    #
    persistence:
      storageClass: ""
      size: 8Gi

  ## MySQL Authentication parameters
  ## @param mysql.auth.rootPassword MySQL root password
  ## @param mysql.auth.database MySQL custom database
  ## @param mysql.auth.username MySQL custom user name
  ## @param mysql.auth.password MySQL custom user password
  ## ref: https://github.com/bitnami/bitnami-docker-mysql#setting-the-root-password-on-first-run
  ##      https://github.com/bitnami/bitnami-docker-mysql/blob/master/README.md#creating-a-database-on-first-run
  ##      https://github.com/bitnami/bitnami-docker-mysql/blob/master/README.md#creating-a-database-user-on-first-run
  auth:
    rootPassword: "##mysql-auth-rootPassword##"
    database: cycloid
    username: cycloid
    password: "##mysql-auth-password##"

#
# External MySQL Configuration
# All of these values are only used if `mysql.enabled: false`
#
externalMysql:
  # External MySQL server host
  host: localhost
  # External MySQL server port
  port: 3306
  # External MySQL username
  user: cycloid
  # External MySQL user password
  password: ""
  #External MySQL database name
  database: cycloid

#
# Redis
#
# Configuration values for the redis dependency.
# Ref: https://github.com/bitnami/charts/tree/master/bitnami/redis
#
redis:
  ## Use the Redis chart dependency.
  ##
  ## Set to false if bringing your own MySQL, and set the corresponding `secrets`
  ## fields that correspond to the PostgreSQL variables that `concourse web` should use
  ## to connect to.
  ##
  enabled: true

  master:
    persistence:
      storageClass: ""
      size: 8Gi

  ## Redis Authentication parameters
  ## ref: https://github.com/bitnami/charts/tree/main/bitnami/redis#redis-common-configuration-parameters
  ##
  auth:
    ## @param auth.password Redis password
    ## Defaults to a random 10-character alphanumeric string if not set
    ##
    password: "##redis-auth-password##"

#
# External Redis Configuration
# All of these values are only used if `redis.enabled=false`
#
externalRedis:
  enabled: false
  #External Redis server host
  host: localhost
  #External Redis server port
  port: 6379
  #External Redis server database
  database: "0"
  #External Redis password
  password: ""
  #Enable user authentification
  auth:
    enabled: false
    username: "default"
    password: ""
  # If enabled, use rediss schema
  tls:
    enabled: false

#
# Concourse
#
# Configuration values for the concourse dependency.
# Ref: https://github.com/concourse/concourse-chart
#
concourse:
  ## Configuration values for the Concourse application (worker and web components).
  ## The values specified here are almost direct references to the flags under the
  ## `concourse web` and `concourse worker` commands.
  ##
  concourse:
    ## Configurations for the `web` component based on the possible flags configurable
    ## through the `concourse web` command.
    ##
    web:
      ## Need to be specified if bringing your own PostgreSQL.
      ## Configurations regarding how the web component is able to connect to a postgres instance.
      postgres:
        # All of these values are only used if `concourse.postgresql.enabled: false`
        host: ""
        port: 5432
        database: atc
        ## user/password defined under `concourse.secrets.postgresUser/postgresPassword` section

  postgresql:
    ## Use the PostgreSQL chart dependency.
    ##
    ## Set to false if bringing your own PostgreSQL, and set the corresponding `secrets`
    ## fields that correspond to the PostgreSQL variables that `concourse web` should use
    ## to connect to.
    ##
    enabled: true
    auth:
      ### PostgreSQL User to create.
      username: concourse
      ## PostgreSQL Password for the new user.
      ## If not set, a random 10 characters password will be used.
      ##
      password: "##concourse-postgresql-auth-password##"
      # Password for the "postgres" admin user
      postgresPassword: "##concourse-postgresql-auth-postgresPassword##"
      ## PostgreSQL Database to create.
      ##
      database: atc

    ## Persistent Volume Storage configuration for PostgreSQL.
    ##
    ## Ref: https://kubernetes.io/docs/user-guide/persistent-volumes
    ##
    persistence:
      ## Persistent Volume Storage Class to be used by PersistentVolumes created
      ## for PostgreSQL.
      ##
      ## If defined, storageClassName: <storageClass>
      ## If set to "-", storageClassName: "", which disables dynamic provisioning
      ## If undefined (the default) or set to null, no storageClassName spec is
      ##   set, choosing the default provisioner.  (gp2 on AWS, standard on
      ##   GKE, AWS & OpenStack)
      ##
      storageClass:
      size: 8Gi


  secrets:
    ## User/Pass need to be specified if bringing your own PostgreSQL.
    ## Only used if `concourse.postgresql.enabled: false`
    postgresUser: ""
    postgresPassword: ""

    ## List of `username:password` or `username:bcrypted_password` combinations for all your local concourse users.
    ## For details of expected format, see https://concourse-ci.org/local-auth.html
    ##
    localUsers: "cycloid:##concourse-password##"

    ## Concourse Host Keys.
    ## Ref: https://concourse-ci.org/install.html#generating-keys
    ##
    hostKey: |-
        ##concourse-secrets-hostKey##

    hostKeyPub: |-
        ##concourse-secrets-hostKeyPub##

    ## Concourse Session Signing Keys.
    ## Ref: https://concourse-ci.org/concourse-generate-key.html
    ##
    sessionSigningKey: |-
        ##concourse-secrets-sessionSigningKey##

    ## Concourse Worker Keys.
    ## Ref: https://concourse-ci.org/concourse-generate-key.html
    ##
    workerKey: |-
        ##concourse-secrets-workerKey##

    workerKeyPub: |-
        ##concourse-secrets-workerKeyPub##

    ## vault authentication parameters
    ## Parameter to pass when logging in via the backend
    ## Required for "approle" authenication method
    ## e.g. "role_id:x,secret_id:x"
    ## Ref: https://concourse-ci.org/vault-credential-manager.html#vault-approle-auth
    ##
    vaultAuthParam: "role_id:##cycloid-ro-vault-approle-role-id##,secret_id:##cycloid-ro-vault-approle-secret-id##"


  web:
    sidecarContainers:
      - name: concourse-team-authorized-key-sync
        image: cycloid/concourse-team-authorized-key-sync:latest
        imagePullPolicy: Always
        env:
          - name: VAULT_URL
            value: http://cycloid-vault:8200
          - name: VAULT_ROLE_ID
            value: "##cycloid-ro-vault-approle-role-id##"
          - name: VAULT_SECRET_ID
            value: "##cycloid-ro-vault-approle-secret-id##"
          - name: YAML_KEYS_FILE
            value: /etc/concourse-teams/tsa-team-authorized-keys.yaml
          - name: VERBOSE
            value: "True"
        volumeMounts:
          - mountPath: /etc/concourse-teams
            name: concourse-teams

#
# Vault
#
# Configuration values for the vault dependency.
# Ref: https://github.com/hashicorp/vault-helm
#
vault:
  # Use the Vault chart dependency.
  server:
    # This configures the Vault Statefulset to create a PVC for data
    # storage when using the file or raft backend storage engines.
    # See https://www.vaultproject.io/docs/configuration/storage/index.html to know more
    dataStorage:
      enabled: true
      size: 10Gi
