[Unit]
Description="Cloud Cost Management service execution"

[Timer]
OnCalendar={{ schedule }}
#Execute job if it missed a run due to machine being off
Persistent=true
#File describing job to execute
Unit=cycloid-ccm_container.service

[Install]
WantedBy=timers.target