---
- name: Setup cycloid
  hosts: all:!concourse_worker
  vars_files:
    - [ "environments/{{ env }}-cycloid.yml", "environments/empty.yml" ]
  roles:
    - role: geerlingguy.docker
      tags: docker
      when: not validate_only and not uninstall

    - role: ansible-cycloid-onprem
      tags:
        - cycloid

#    - {role: cycloid.prometheus, path: /opt/prometheus, tags: prometheus}
#    - {role: cycloid.telegraf, tags: telegraf}
