---
- name: Converge
  hosts: cycloid_worker

  vars_files:
    - [ "environments/cycloid.yml", "environments/empty.yml" ]

  roles:
    - role: cycloid.concourse
      tags: cycloid

  post_tasks:
    # Ensure worker is started and configured at first boot
    - name: configure worker service | concourse
      service:
        name: concourse-worker
        enabled: yes
      tags:
       - notforbuild
    - name: restart concourse worker
      service:
        name: concourse-worker
        state: restarted
        enabled: yes
      tags:
       - notforbuild
